[2015-04-25 17:54] patrickomni opened #1 "Need to move all TFS items into GitHub"

[2015-05-07 14:24] patrickomni opened #2 "Multiple users account with same user name and role Id"
Sign in with without credentials, Add new account, and then enter Users details with same Role ID type and same user's data like  First and Last Name and other data.  It is creating multiple user account's with similar user account.
![multiple_user](https://cloud.githubusercontent.com/assets/12114620/7517366/40949176-f4f2-11e4-8192-576e2fe91434.PNG)

[2015-05-07 14:38] patrickomni opened #3 "NT-Employee - Omni Refrigeration / Fridge Sample"
Under NT-Employee - Omni Refrigeration / Fridge Sample - Edit option for Omni Refrigeration / Fridge Sample is not working, after clicking the Edit option it is opening new div with Please wait... tittle and nothing is happening.
![image](https://cloud.githubusercontent.com/assets/12114620/7517794/b461fde4-f4f4-11e4-8ac1-bde72fe513e6.png)

[2015-05-07 14:42] patrickomni opened #4 "NT-Scenario View-Table Size"
Signin without credential, select any impersonation

The table size is not scaling well in zoom, particularly 3x ZOOM In.

[2015-05-07 14:48] patrickomni opened #5 "Confusing Symbol on the Tables"
1. Impersonate as any of the current users
2. Look at the details table

I have no clue what this part of the table is supposed to mean

![attachfilehandler](https://cloud.githubusercontent.com/assets/12114620/7518028/2623c25e-f4f6-11e4-9774-0ff7e45e66c2.jpg)
# of errors? Does it have to do with active alerts? Really no idea.

[2015-05-07 15:00] patrickomni opened #6 "Devices section when editing an account is always empty (Likely already known)"
## It seems like this bug is already known, therefor the Severity will be low even though it would otherwise be high
1. Log onto http://omnistaging.azurewebsites.net/
2. Click on "Edit" for any of the editable accounts
#3. Go to the "Devices" tab

Occurs:
The "Devices" section holds no data in it, let alone anything that can be edited, besides informing the user that there is no data available, ev

[2015-05-07 15:04] patrickomni opened #7 "Cannot sign into new accounts"
1. Log into Omni staging site
2. Create a new account
3. Add a new user to the account
## 4. Log in as the new user

Expected:-
## User is able to sign as the new user

Occurs:
Pop up claims that the user either does not exist or that it hasn't been approved yet.

![attachfilehandler 1](https://cloud.githubusercontent.com/assets/12114620/7518422/6cbd5bd8-f4f8-11e4-8f4b-18340f9e471f.png)

[2015-05-07 15:10] patrickomni opened #8 "NT-Scenario View-Internationalization"
Signin without credentials; select Reisner Client
Option for es-mx (no other country language is displayed)

In Setting Dialog Box, none of the Label has been changed

Only some Labels changed to Mexica, Device Details in English; exclamation mark becomes
& # xf071 ;

![image](https://cloud.githubusercontent.com/assets/12114620/7518520/1f808308-f4f9-11e4-9ea9-1ed746d20d5c.png)

[2015-05-07 15:29] patrickomni opened #9 "Blank Account"
Steps to reproduce:
1. Login to omnim2m.net
2. Add Account
3. Do not enter any account name and account type for the user and hit save button.
4. It will create new account with blank account name.

![blank](https://cloud.githubusercontent.com/assets/12114620/7518969/e304e434-f4fb-11e4-90b4-fd7c10fe88b4.PNG)

[2015-05-07 15:43] patrickomni opened #10 "NT-Scenario View-Reports"
1. Signin as no credentials
2. Select Account to Impersonate as Reisner Distributor, Inc / Reisner Client Should the words be "Lastest Report" OR "Latest" Report

![image](https://cloud.githubusercontent.com/assets/12114620/7519300/ceea9d48-f4fd-11e4-9597-06ddd0e37fc1.png)

[2015-05-07 15:53] patrickomni opened #11 "Unsaved users (Through 'Save User' or just through 'Cancel') have information filled into Add User line of any account accessed"
1. Log into Omni
2. Edit any Account
3. Fill in information for a new user without saving
4. Hit either 'Save' or 'Cancel'
5. Edit any Account
6. Go to the user section

---

Expected:

The sections for a new user are empty

---

Occurs:

The information for the new that was entered into the first, unsaved user section is carried over to the user section.

[2015-05-07 16:07] patrickomni opened #12 "Hitting Save in the Users tab of an account creates an additional account for each user in the list"
1. Log into Omni
2. Create a new account
3. Add a user to the account
4. Hit 'Save user'
5. Add a new user to the account
6. Hit 'Save user'
7. Hit 'Save' in the user tab

Occurs:

A user is added to the existing account and a new account by the same name, but with the new user's name at the end, is created. Both accounts have identical information inside of them.

[2015-05-07 16:16] patrickomni opened #13 "Save button not showing any confirmation."
Signin without credentials, Add new account, then add new user with account name and scenario type and click on save button it will create user but not show any message or popup alert that user is created or not for confirmation. Due to which confusion occurs and if user again click the save button then it will create multiple user account with same name.

[2015-05-07 16:17] patrickomni opened #14 "Save User not working some times"
1. Signin without credentials
2. Add new account or edit existing account
3. Go to the Users tab
4. Fill in all boxes for a new user
5. Click on "Save User"

Expected:
The new user is saved into the system and a new user many be added if desired

Occurred:
The "Save User" button does not work, and nothing changes when clicking on it or the "Save" button. The information entered is still filled in

[2015-05-08 14:16] patrickomni opened #15 "NT- Employee - Omni Refrigeration/ Fridge Sample /Graph"
Signin without credentials, select Omni Refrigeration/Fridge Sample and unchecked the device then graph detail will disappear from the website but if user will do Zoom in , Zoom Out then graph details will appear in the website.

Steps to reproduce:
1. Select Omni Refrigeration/Fridge Sample and unchecked the devices
2. Do Zoom in , Zoom Out in the website and analyse the graph.

Before Zoom In

!

[2015-05-08 14:29] patrickomni opened #16 "NT- Employee- Sempra Energy / Marie Van Zandt/Graph for devices is not loading"
Signin without credentials, select Sempra Energy/Marie Van Zandt.

Analyse the graph, here graph for device is not available.

![marie](https://cloud.githubusercontent.com/assets/12114620/7538317/9ee81188-f5bc-11e4-9377-d56b6839a720.JPG)

[2015-05-08 14:34] patrickomni opened #17 "Not able to view the details for Seamtrics Direct Customer / Seametrics User"
1. Signin without credentials, select Seamtrics Direct Customer / Seametrics User
2. Here website will not redirecting to Scenario view page for the Seamtrics Direct Customer/ Seametrics User,  to see the details of the Seametrics User.

![seamtrics](https://cloud.githubusercontent.com/assets/12114620/7538405/482d1b58-f5bd-11e4-8da1-271731031681.JPG)

[2015-05-11 21:31] patrickomni opened #18 "Need to show recent alerts table on each scenario"
(same as traps data table).

I need to ensure data is correct then Chris can finish

[2015-05-12 17:16] danomni opened #19 "Rules Menu Non-Dynamic"
The rules screen for the 3 scenarios does not scale for mobile phones or tablets

[2015-05-12 17:18] danomni opened #20 "Cannot Exit Rules Screen - Mobile"
There is no way to escape rules screen on iPhone 5S, most likely most mobile phones. This is because of the non scaling, also because there is a button for returning to the top of the screen that is blocking the cancel button on the bottom right of the rules screen

[2015-05-12 17:21] danomni opened #21 "'Latest Report' Screen Non-Dynamic"

[2015-05-12 17:22] danomni commented on #21
You cannot see anything past '%' on the Latest Report Screen - Logged with iPhone 5S

[2015-05-12 17:26] danomni opened #22 "Edit User Button Loading Screen Freeze"
When you click the edit user button, the loading bar appears and freezes - Logged with iPhone 5S

[2015-05-12 17:29] danomni opened #23 "Scenario Name Misspelled In Account Add Screen"
'Refridgeration' appears under scenario name

[2015-05-12 17:30] danomni opened #24 "'Is Partner' Has Double Check Boxes"
Under 'Add Account', 'Is Partner' checkbox has two boxes hovering close together

[2015-05-12 17:31] danomni opened #25 "'Users' Is Broken"
Under 'Add Account', 'Users' Tab is Broken

[2015-05-12 17:32] danomni opened #26 "'Devices' Tab is Broken"
Under 'Add Account' screen, 'Devices' tab is broken

[2015-05-14 02:41] CaseyDengler opened #27 "Tank reading is not accurate"

[2015-05-14 02:48] CaseyDengler opened #28 "Unknown editable box in top left of details page"
Reproduce:
1) Log into Omni
2) Impersonate Reisner, Sempra, or Refrigeration

Expected:
Apparently the box is supposed to allow the user to edit the naming of the table's columns

Occurs:
It's just a box that the user can type in. Attempting to double click one of the table's names (messages, alerts, ect) causes the box to shrink.
![odd text box](https://cloud.githubusercontent.com/assets/12438510

[2015-05-14 02:54] CaseyDengler opened #29 "Rules appear to save after hitting "cancel" instead of "save rule" for tanks and traps"
Steps to Reproduce:
1) Log into Omni
2) Impersonate tanks or traps
3) Open the rules box
4) Make a change to the rules
5) Click on "cancel"
6) Open the rules up again

Expected:
The rules should appear as they were before any changes were made, as leaving the page like that give the illusion that changes did occur, whether or not they did.

Occurred:
The rules that were changed but not saved are s

[2015-05-14 03:19] CaseyDengler opened #30 ""Getting rules for item returned no results" comes up when trying to edit rules"
Steps to reproduce (not entirely sure):
1) Log into Omni
2) Impersontate tanks, traps, or fridge
3) Attempt to change the rules (might have to change rules first, can't tell)

Occurs:
A pop-up informs the user that "Getting rules for item returned no results"
This error appeared to occur after rules where abolished, so perhaps the error is related

![getting rules](https://cloud.githubusercontent.

[2015-05-14 03:27] CaseyDengler opened #31 "When attempting to save new rules "Error saving rules: Input string was not in a correct format" pops up"
Steps to reproduce:
1) Log into Omni
2) Impersonate tanks, traps, or fridge
3) Open rules
4) Change the rules
5) Click "Save Rule"

Expected:
"Rules saved" or something of the sort should pop up in a green box

Occurs:
A red text box comes up saying "Error saving rules: Input string was not in a correct format"

[2015-05-14 03:48] CaseyDengler opened #32 "Saving the Y-Hata fridge slider affects Boat #1, Boat #2, and all individual devices"
Steps:
1) Log into Omni
2) Impersonate fridge
3) Open the rules for Boat 1, Boat 2, or an individual device
4) Change the slider rules
5) Click on "Save rules"
6) Open the rules for Y-Hata
7) Change the slider rules for Y-Hata
8) Click on "Save rule"
9) Open the rules for Boat 1, Boat 2, or an individual device

Occurred:
The changes that happened to the Y-Hata rules affected the rules that were l

[2015-05-15 18:51] patrickomni commented on #32
I cannot  reproduce this item.

[2015-05-15 18:52] patrickomni commented on #32
Didn't know that would close it.  Close it if you cannot repro

[2015-05-15 18:54] patrickomni commented on #31
Cannot reproduce.   This may have been fixed already.  Assigning to chris first for check.

Chris-> we need to wire the new Formatters function  for validating this as well as the phone number when setting up a user.   See Formatters.FormatPhoneNumbers and Formatters.FormatPhoneNumber

[2015-05-15 18:57] patrickomni commented on #30
Chris: We shouln't ever get this as at least I pull a default, but I may have damaged the data.  Either way, we should not show this message; keep there until we can find a repro.

Assigning back to Casey:  Casey, see if you can find more specific steps (it could have been tank specific or trap specifiic?

[2015-05-15 18:58] patrickomni commented on #30
Oooh, I found it.  Let me see if its me.

[2015-05-15 19:03] patrickomni commented on #30
Chris your get rules code is  not looking at all tables.  the result comes in the third table.

sp_GetRulesByDeviceOrSite 0,35,1

[2015-05-15 19:04] patrickomni opened #33 "Grid is painted step-crooked when browser is resized thin on Traps"
Go to Traps
Squish browser width down to about 50% of the screen.

![image](https://cloud.githubusercontent.com/assets/12114620/7659913/7c5de078-fafa-11e4-941a-fb54b3408a5e.png)

[2015-05-15 19:04] patrickomni commented on #28
that thing thar, has been removed :)

[2015-05-15 19:05] patrickomni commented on #27
I made this update to this.   In a few hours compare this tank reading to the one on http://nettelpong.azurewebsites.net

[2015-05-15 19:06] patrickomni commented on #26
Let's remove this device tab.

[2015-05-15 19:07] patrickomni commented on #25
Can you give more detail?  I think there is a intuitiveness to the design here that isn't obvious.

Actaully Chris, just auto-save a blank, then update it to active=0 if they cancel.  That way the users tab will work.

[2015-05-15 19:09] patrickomni commented on #23
Ugh :(

Fixed :)  Will be in next build

[2015-05-15 19:11] patrickomni commented on #17
Yes, this is now a broken scenario  /  user.  Just don't use it for now.   Close this bug once you've read it.

[2015-05-15 19:12] patrickomni opened #34 "Grid is painted step-crooked when browser is resized thin on Traps"
Go to Traps
Squish browser width down to about 50% of the screen.

![image](https://cloud.githubusercontent.com/assets/12114620/7659913/7c5de078-fafa-11e4-941a-fb54b3408a5e.png)

[2015-05-15 19:12] patrickomni opened #35 "Need to remove resource changing (double-click) on login screen"

[2015-05-15 19:13] patrickomni commented on #14
Assigning to Casey to get more accurate steps to reproduce.

[2015-05-17 19:24] CaseyDengler commented on #32
I cannot reproduce it exactly, but after messing around with the sliders a few times, both Y-Hata and Boat 2 seem to resist changing from (74F to 92F). The individual devices stuck to their own rules and Boat 1 (which was not messed with) did not force itself to the same 74 to 92 rule. I'll log a bug for this issue and close the current bug.

[2015-05-17 19:25] #32 closed, assigned to CaseyDengler

[2015-05-17 19:31] CaseyDengler opened #36 "Y-Hata and Boat #2 seem to stick with (74F to 92F) after changing their slider rules a number of times"
Steps to reproduce:
1) Log into Omni
2) Impersonate Fridge
3) Make and save frequent changes in Boat #2 and Y-Hata
4) Observe changes made

Expected:
The last rules made for each section should change the sliders after examining the rules again.

Occurs:
No matter what temperatures are given, Y-Hata and Boat #2 refuse to change their numbers form (74F to 92F).

Note:
This bug came up after I made

[2015-05-17 19:39] CaseyDengler commented on #14
Gave some more information. Also, it seems like users are refusing to be be added all together.

[2015-05-17 19:43] CaseyDengler commented on #35
For clarification,

Steps:
1. Go to the Omni Log in screen
2. Hover over "Sign in" or "Sign in using your registered account"

Expected:
Nothing

Occurs:
A small box comes up saying "Double click to change label" which is the same that comes up when changing the data table's labels. They can't actually be changed, but the box still comes up.

[2015-05-17 19:49] CaseyDengler commented on #34
Works fine when screen is squished to 50%, but bug still occurs when squished farther down.
The worst offender is on mobile, where this is more than enough room but the bug occurs regardless.

[2015-05-17 19:50] #17 closed, assigned to CaseyDengler

[2015-05-17 19:52] CaseyDengler commented on #25
I believe issue #14 should have some more detail in one of my commets

[2015-05-17 19:56] CaseyDengler commented on #27
Missed the few hours mark (my bad) but the reading still doesn't seem to accurate on http://omnistaging.azurewebsites.net/sv (unless it's been on 7439 gallons for 10 hours now) and the link provided, http://nettelpong.azurewebsites.net, doesn't have any information on the graph, and the number of gallons doesn't match up (#1 has 675 while #2 has 8346).

[2015-05-17 19:56] #28 closed, assigned to CaseyDengler

[2015-05-17 19:59] CaseyDengler commented on #33
I believe there was a very similar issue brought up earlier? I can't remember, either way, this issue is also in Fridge and Tanks. This error also loves to show up on mobile devices with small screens.

[2015-05-17 20:03] CaseyDengler commented on #30
Error still around, just with a new box. This only seems to occur in Tanks when changing the rules for "Distributors" or "Cowden"

[2015-05-18 06:37] patrickomni opened #37 "NT - Scenario View - Graph Display & Refresh"
Signed in without credentials, selected "Reisner Distributor, Inc / Reisner Client", Device Details are not showing a graph for 24 Hrs; displays, after refreshing, only when "3 days" is selected from drop down, but displaying last 24 Hrs. If "Last 30 days" is selected, the display, after refreshing is displaying data for 30 days.

If "Live data" is selected it reports, after refreshing, refreshing

[2015-05-18 18:16] patrickomni commented on #37
When there is no data to display, instead of showing the warning pop-up, let's replace the spinner with "No Data to Show for this time Period"

[2015-05-18 19:08] patrickomni commented on #36
The fix that Chris put in ("There are no rules so we are defaulting") wasn't quite right.   We have to look at all result sets from all tables.   It should always return at least one row.

Get 616 before finalizing fix

[2015-05-18 19:13] patrickomni commented on #36
Check for DeviceId = -1, if so then pop the "default rules have been assigned" thingee

[2015-05-18 19:23] patrickomni commented on #35
Just disable resource changing on   emp and login

[2015-05-18 19:23] patrickomni commented on #34
Let me know what's going on here and if there is something I can do on the data side to make this an easier fix.

[2015-05-18 19:24] patrickomni commented on #33
Duplicate functionally of bug #34

[2015-05-18 19:24] #33 closed, assigned to nobody

[2015-05-18 19:29] patrickomni commented on #26
Removed.  Dan, after we prop the new build and you verified this is fixed, please close or send back to me.

[2015-05-18 19:32] patrickomni commented on #22
This is a blocking issues.  Assigning to Chris and sending an SMS/Email

Chris,
1. Go to Emp Page
2. Select Edit on a customer

Result
![image](https://cloud.githubusercontent.com/assets/12114620/7688524/ee09da5e-fd59-11e4-8752-1452abbdf351.png)

[2015-05-18 20:13] christopherdude commented on #22
This is caused by Fridge account(s).  That fridge account has a userRoleId=4.  But my UserEditableRow.ascx doesn't know of a value for that.. only these:

[code]

That will solve the problem - if we add a value of 4 in there.. but I'm not sure if A) I'm just missing a value, or B) one of the above is wrong

[2015-05-18 20:39] patrickomni commented on #22
This was an issue with the back end.  This has been fixed (and will work without a new build)

[2015-05-18 21:02] christopherdengler commented on #37
This is now fixed!

[2015-05-18 21:03] patrickomni commented on #37
Reopening

[2015-05-18 21:03] christopherdude commented on #37
Fixed, ready for test

[2015-05-18 23:35] CaseyDengler commented on #37
Closing, everything seems fine.

[2015-05-18 23:35] #37 closed, assigned to CaseyDengler

[2015-05-18 23:41] CaseyDengler commented on #27
Data still seems a bit off, as the http://omnistaging.azurewebsites.net/sv data shows that there are only 6 gallons left in the tank (a sudden drop of 7000 gallons in 30min, unlikely). If the http://nettelpong.azurewebsites.net/ data is still supposed to be similar, if so, then the numbers have not changed since my last comment (Tank 1 with 675 and Tank 2 with 8346), though I doubt that they are s

[2015-05-18 23:44] CaseyDengler commented on #22
Can't find problem on my end, closing.

[2015-05-18 23:44] #22 closed, assigned to CaseyDengler

[2015-05-18 23:46] CaseyDengler commented on #18
Not sure what I'm looking for on this one, could you explain a bit more?

[2015-05-18 23:51] CaseyDengler commented on #14
Nothing new so far, but the first attempt that I made on saving a new user on an account with no other users resulted in the background of the site going dark (as if trying to load something). The user was never saved though, and now any attempts to add new users results in the problems shown in #25

[2015-05-19 07:06] christopherdude commented on #36
I have fixed this to check for DeviceId = -1.  Please verify that it works.

[2015-05-19 07:13] christopherdude commented on #35
I made the change on login, but didn't see where it existed on EMP page?

[2015-05-19 07:16] christopherdude commented on #34
![capture](https://cloud.githubusercontent.com/assets/9539359/7697393/47f5a91e-fdbc-11e4-9062-0892c1750ebb.PNG)
50% of the screen doesn't show this happening over here?  Are you still seeing this?

[2015-05-19 07:27] christopherdude commented on #31
Yes, I fixed this one a few days ago.  The issue was trying to convert a "" to an int.  It's been fixed.  I just checked it again, and it seems to work.

[2015-05-19 07:29] christopherdude commented on #30
We've fixed this in 2 areas - Pat's fix on the 3rd table check, and my fix on a previous bug for checking for DeviceId = -1.  I don't see this happening anymore.

[2015-05-19 07:57] christopherdude commented on #29
This was a great find.  This seems to now (as of tonight) only happen on those WITHOUT rules already set.  Fixed.. also, since there's an alert that shows, the background before wasn't "dimming" or "darkening" out.  I found myself trying to click on items, but couldn't since I had to click on the OK on the pseudo msgbox.  I made the background behind the msgbox go dark a little (see attached where

[2015-05-19 08:14] christopherdude commented on #25
What I did was, add a tooltip that says they can't add users until they save.  BUT, there's a new problem.  In the sp_SetAccountsById sproc, it's supposed to return to me the new account created, but it's returning an empty dataset.  So this one is back to you, Pat.

To repro, create a new account, and save.  Place a breakpoint on the SaveAccount method within AccountFactory.cs (line 108 at the ti

[2015-05-19 08:23] christopherdude commented on #21
I don't understand this bug.

[2015-05-19 08:29] christopherdude commented on #20
Fixed

[2015-05-19 08:30] christopherdude commented on #19
Fixed

[2015-05-19 08:50] christopherdude commented on #15
Fixed

[2015-05-19 08:51] christopherdude commented on #13
This is pending a fix on Pat's part where the account is not returning the account created.  Pat, re-assign this bug to me once this is fixed.

[2015-05-19 08:54] christopherdude commented on #12
This is assigned back to Patrick b/c the create new account doesn't return to me an account.  There is a bug assigned to him for this.  Once this is fixed, please re-assign this bug back to me.

[2015-05-19 08:55] christopherdude commented on #11
This is an ugly one.  I will address this later.

[2015-05-19 08:57] christopherdude commented on #10
Good catch.  Someone double-clicked it, and changed it by typing in a typo.  I have double-clicked it and changed it to spell correctly.

[2015-05-19 09:05] christopherdude commented on #9
Wow, you are getting really good at this!  GREAT find!  Fixed.

[2015-05-19 16:30] danomni commented on #25
Just added a new account 'Charlie Parker', with permission of a reseller and after clicking 'Save User, the screen remained the same with fields still open for me to modify the account. When I clicked 'Save' at the bottom of the screen, it refreshed and took me back to the 'Account' tab and now the 'User' tab has a circle with a line through it (no symbol). When I log back out and in with Charlie

[2015-05-19 16:31] danomni commented on #26
Ok. I will close this issue once you reintroduce it in the new build.

[2015-05-19 16:31] #24 closed, assigned to CaseyDengler

[2015-05-19 16:37] danomni commented on #23
Cool. Just for the sake of forgetting this issue, I am not closing it until the build is propped. Might forget it otherwise :)

[2015-05-19 16:43] #19 closed, assigned to CaseyDengler

[2015-05-19 16:43] #20 closed, assigned to CaseyDengler

[2015-05-19 16:44] danomni commented on #21
The table for 'Latest report' is non-responsive and breaks on mobile screens.

[2015-05-19 19:11] patrickomni commented on #25
Took a deep dive here (which resulted in the email about error handling).    Most of the work is done but I am now getting a javascript error and since javascript is for monkey's, I'm assigning the remaining work to Chris.

Chris: Steps to Reproduce
On employee page select Test account
Go to the users tab
fill in relevant data
Click Save User

Unhandled exception at line 6, column 28143 in http://

[2015-05-19 19:23] patrickomni commented on #6
Might be a duplicate

[2015-05-19 19:25] patrickomni commented on #3
I think this has been fixed.  Can you verify?

[2015-05-19 19:26] patrickomni commented on #2
This is all wrapped up in that single user issue. Bug #25 .   Once that is fixed retest this.

[2015-05-19 19:27] patrickomni commented on #27
You are correct!   You are comparing against the right site, so if they are not equal, we are not done fixing this bug.  However, i found my goof; in the next set of readings that look reasonable should be accurate.

[2015-05-19 19:28] #1 closed, assigned to nobody

[2015-05-19 19:39] danomni commented on #21
![screen shot 2015-05-19 at 12 38 03 pm](https://cloud.githubusercontent.com/assets/10458099/7712109/0b86c31a-fe24-11e4-8e3f-437d69968eed.jpg)

[2015-05-19 19:43] CaseyDengler commented on #36
The slider is still not behaving right. Y-Hata now refuses to move from (-22F to 30F), Boat 1 works fine, Boat 2 is a bit odd. For Boat 2, I was able to save the first change made, moving the temperature cap to (-22F to 143F), but it's stuck at that. Any attempts to save new changes are ignored, aside from a pop up saying that the rules have been saved.

The individual units for Boat 2 act the sam

[2015-05-19 19:45] CaseyDengler commented on #35
My bad, I can't find it on the EMP page either.

[2015-05-19 19:45] #35 closed, assigned to CaseyDengler

[2015-05-19 19:50] CaseyDengler commented on #34
It mostly shows up when the screen gets to around 20% (I guess?). 50% is fine, until you get to mobile devices (at least the old windows 7 phone that I'm using) where it's always present.
![grid painting issues](https://cloud.githubusercontent.com/assets/12438510/7712316/912029d4-fe25-11e4-8322-1e71ca9b75b2.png)

[2015-05-19 19:59] CaseyDengler opened #38 "Attempting to save rules for Tanks hangs the page"
Steps:
1) Log into Omni
2) Impersonate Tanks
3) Go into the rules for Distributors or for the specific device
4) Click on "Save rules" (you can change rules if you want, same effect occurs)

Occurs:
The "Please Wait..." pop up bar shows up and just stays there forever. The user must refresh the page in order to break out of the wait. Obviously, no rules are changed after.

Also, this old pop up sh

[2015-05-19 20:01] CaseyDengler commented on #31
The red box is gone. There are still errors in trying to save the rules themselves, but those are in different issues already, so I'll close this up.

[2015-05-19 20:01] #31 closed, assigned to CaseyDengler

[2015-05-19 20:04] CaseyDengler commented on #30
I'm not sure if this is the same issue.
![getting rules box](https://cloud.githubusercontent.com/assets/12438510/7712642/42f9fdd2-fe27-11e4-9904-0b72557f7b8e.png)
If not, then feel free to close it, but I think I'm going to make a separate issue involving this box because it's involved in many issues so far.

Aside from that, the older red box hasn't shown up at all.

[2015-05-19 20:10] CaseyDengler opened #39 ""Getting rules for this item returned no results" pop up is related to many issues"
Steps:
1) Log into Omni
2) Go to Tanks (or device FR144 and FRZ55 in Boat 2 under Y-Hata for the fridge section)
3) Open up the rules

Expected:
Not really sure. I assume that this is supposed to show up if no one has set any rules what so ever, but even after changing rules, this pop up comes along and the previously changed rules are set back to what they were before any changes.

I'm not sure i

[2015-05-19 20:14] CaseyDengler commented on #29
Appears to be fixed up, though I've only been able to check on Boat 1 in Fridge as changing any other rules seems quite difficult right about now. Either way, the issue seems fixed up to me.

[2015-05-19 20:14] #29 closed, assigned to CaseyDengler

[2015-05-19 20:20] CaseyDengler commented on #27
My fault, I was looking at the wrong page. While I don't know if the tanks were correct earlier, it's irrelevant as the tank data is now accurate.

[2015-05-19 20:20] #27 closed, assigned to CaseyDengler

[2015-05-19 20:22] CaseyDengler commented on #16
Device data is now there, but the UI seems a bit clunky, but that will be it's own issue.

[2015-05-19 20:22] #16 closed, assigned to CaseyDengler

[2015-05-19 20:29] CaseyDengler opened #40 "Traps Device Data UI is a bit odd"
Steps:
1) Log into Omni
2) Go to Traps
3) Look at the "Device Data" on the right

Occurs:
![trap device data](https://cloud.githubusercontent.com/assets/12438510/7713116/87ab609e-fe2a-11e4-8de5-a5299e23308e.png)

Few questions arise:
- What is "Type" and "Status?"
- Should the names on this table be subject to change by double clicking on them (as of now they cannot be changed)?
- Which trap was a

[2015-05-19 20:32] CaseyDengler opened #41 "Map in Traps looks off"
Steps:
1) Log into Omni
2) Go to Traps
3) Click on the right arrow below "Device Data" found on the right of the screen

Expected:
Map shows up giving the user locations to the different traps

Occurs:
The traps appear to be in the ocean. Unless they are on tiny islands or are underwater traps, I'm not sure why they are there.
![trap map](https://cloud.githubusercontent.com/assets/12438510/7713268

[2015-05-19 20:36] CaseyDengler commented on #18
I'm assuming this has to do with the sub sections of "Stations" for Traps.
Looking at --1 for Traps, there appears to be no Device Data shown.
![trap 1 device data blank](https://cloud.githubusercontent.com/assets/12438510/7713314/d61a8448-fe2b-11e4-8559-f30057f478a0.png)

While Stations has the Device Data filled out with a table
...Well, I would have shown that, but I've just found a new issue t

[2015-05-19 20:42] CaseyDengler opened #42 "Device Data not showing up for Traps after switching from Stations in the drop box"
Steps:
1) Log into Omni
2) Go to Traps
3) Click on the drop box in the top right of the page (where it says Stations)
4) Select any of the sub station numbers (1 is recommended as it shows that the Device Data doesn't show up on it)
5) Go back to Stations

Expected:
The data that's shown is similar or identical to the data shown when the page started up. The Device Data is visable.

Occurs:
The De

[2015-05-19 21:06] CaseyDengler commented on #15
Can't find the problem, closing.

[2015-05-19 21:06] #15 closed, assigned to CaseyDengler

[2015-05-19 21:09] CaseyDengler commented on #2
Looks good here

[2015-05-19 21:09] #2 closed, assigned to CaseyDengler

[2015-05-19 21:13] CaseyDengler commented on #10
Looks good now.

[2015-05-19 21:13] #10 closed, assigned to CaseyDengler

[2015-05-19 21:19] CaseyDengler opened #43 "Fridge Device Details graph shows incorrect data for about a second when turning off and on other devices"
Steps:
1) Log into Omni
2) Go to Fridge
3) Deselect Fridge 2 (right now only device with data, not sure if bug)
4) Deselect either Fridge 1 or Demo Device

Expected:
No data is shown on the graph.

Occurs:
For a moment, the data for Fridge 2 (which is to be disabled) shows up on the graph before it becoming blank.
![tank graph momentary error](https://cloud.githubusercontent.com/assets/12438510/77

[2015-05-19 21:22] CaseyDengler commented on #9
Keep trying to cheat the system to reproduce, but can't.

[2015-05-19 21:22] #9 closed, assigned to CaseyDengler

[2015-05-19 21:24] CaseyDengler commented on #4
Not an issue anymore

[2015-05-19 21:24] #4 closed, assigned to CaseyDengler

[2015-05-19 21:25] CaseyDengler commented on #3
Yep, it's been fixed already.

[2015-05-19 21:25] #3 closed, assigned to CaseyDengler

[2015-05-19 21:29] CaseyDengler opened #44 "Going to omnistaging.azurewebsites.net after closing the page without logging out brings user to a blank page"
Steps:
1) Log into Omni
2) Close the page or tab
3) Go straight to omnistaging.azurewebsites.net

Expected:
Either the site forces the user to sign in or acts like they never left

Occurs:
The site is almost blank, except for a few details
![almost blank page](https://cloud.githubusercontent.com/assets/12438510/7714454/7b62a28a-fe33-11e4-8f97-452389f64ff3.png)

[2015-05-19 21:29] patrickomni commented on #12
Does now : )

[2015-05-19 21:30] patrickomni commented on #21
This might a duplicate.  Casey can you see if there is a similar?

[2015-05-19 21:31] patrickomni opened #45 "Need to extend timeout on processincomingscenarios"

[2015-05-19 21:34] CaseyDengler commented on #21
I'm using a Windows 7 Phone so it's hard to tell. Looking at my own mobile, it seems like there's no issue, though we would need to test on a few more devices.

[2015-05-20 00:22] patrickomni commented on #43
This was a problem with too much data getting pumped in.  Should be fixed now.

[2015-05-20 00:24] patrickomni commented on #42
This is by design in that there really isn't much data there.

However there should be "No Device Data " message so I am sending to Chris.

[2015-05-20 00:24] patrickomni commented on #41
This is just where they are in the database as I noted.

[2015-05-20 00:24] #41 closed, assigned to nobody

[2015-05-20 00:25] patrickomni commented on #40
Clean up borders if possible but otherwise move to milestone "future"

[2015-05-20 00:27] patrickomni commented on #34
I'm closing this because I am fine with it for now.  There is another bug tracking the mobile.

[2015-05-20 00:27] #34 closed, assigned to CaseyDengler

[2015-05-20 00:27] patrickomni commented on #26
Staged

[2015-05-20 00:30] patrickomni commented on #23
Should have been propped immediately (database item)

[2015-05-20 00:31] patrickomni commented on #18
Yes, this one is related to #42.   Let's track it there.

[2015-05-20 00:31] #18 closed, assigned to CaseyDengler

[2015-05-20 10:15] Rahul-Silicon opened #46 "NT - Scenario View - Tanker Refill Indicator"
In Reisner Client, the Tanker Refill Indictor is showing properly upon load

![image](https://cloud.githubusercontent.com/assets/12525836/7723441/37fd1100-ff06-11e4-9d33-a5feccf0a90c.png)

However, this Refill Indicator is disappearing when I select Distributor Cowden. The Graph is NOT displaying upon refresh. I should mention, I am using an XP version, Google Chrome. (This is visible on other mac

[2015-05-20 10:40] Rahul-Silicon commented on #21
Please permit me to submit the view from an Android Phone, if I may. FYI&R

![screenshot_2015-05-20-15-58-48 1](https://cloud.githubusercontent.com/assets/12525836/7723957/a6c58c44-ff0a-11e4-9131-abc3417ec3a7.png)

[2015-05-20 10:56] Rahul-Silicon commented on #21
By the way the graph is also not coming in the android phone when opening the website.

![screenshot_2015-05-20-15-51-33](https://cloud.githubusercontent.com/assets/12525836/7724165/bcd79f7a-ff0c-11e4-97da-cc08e0655751.png)

[2015-05-20 13:32] Rahul-Silicon opened #47 "Addnewaccount window is not closing automatically after creating the account."
Steps to reproduce:
1. Sign in without credentials.
2. Add new account and fill the Account Name and select the scenario type from the drop down and hit the Save button. It will show popup message that account saved but  after saving the account, open window is not closing automatically.

Expected : After  adding the Add new account and hitting save button, window should close automatically .

Add

[2015-05-20 13:44] Rahul-Silicon opened #48 "Edit Accont window tittle should change from Add Account to Edit Account"
Step to reproduce:

Signed in without credentials, selected "Reisner Distributor, Inc / Reisner Client", or any account type for editing the properties of the account. It will open a window to edit the credentials for the account. Here window tittle is same as Add account it should be like Edit account because some times it creates confusion for the user that he/she is in add account or in edit ac

[2015-05-20 14:08] Rahul-Silicon opened #49 "Add user inputs fields are not getting cleared or resets blank."
Steps to reproduce:
1. Signin without credentials
2. Select any type account to Edit the properties of the account and add new user for the account.
3. Click save user.

Expected : 1)  It should allow user to save new user for the account but here user is not saving when you click on the save user button.

2) If you click cancel button, without saving the user and close the window and  if again yo

[2015-05-20 14:28] Rahul-Silicon opened #50 "In Rules Setting page selected user is not listing in text box."
Step to reproduce:

Signed in without credentials, select  "Sempra Energy / Marie Van Zandt" and Select settings for devices and select (check the user) from check box it should list the user in text box. But in current system selected user is not listing and showing in the textbox.

![usernotify](https://cloud.githubusercontent.com/assets/12525836/7728054/84320156-ff2a-11e4-8cf2-14601963acb9.png)

[2015-05-20 14:40] Rahul-Silicon opened #51 "Table formatting and allignment issue"
Steps to reproduce:
1. Use Mozilla Firefox browser

Signed in without credentials, select "Sempra Energy / Marie Van Zandt" It will redirect you to Scenario view page of  Sempra Energy . In this page do Zoom in Zoom out and analyze the page at 120 % table formatting for Latest Report will not align properly.

![allignment](https://cloud.githubusercontent.com/assets/12525836/7728331/44238a7e-ff2c-1

[2015-05-20 15:02] Rahul-Silicon opened #52 "Omni Refrigeration / Fridge Sample- Same graph data for different days."
Steps to reproduce:

1) Log into Omnistaging.azurewebsites.net
2) Impersonate  Omni Refrigeration / Fridge Sample
3) Select --boat 2
4) Analyze the graph by changing the Device Details from Last 24 hrs to different available days.

Expected: It should show the different details for graph data, but it is showing same data for different last records.

Record for Last 24 Hours

![24 hours](https://cl

[2015-05-20 15:26] Rahul-Silicon opened #53 "Creat account with multiple Space charcters - It will look like blank Account name"
Steps to reproduce:
1. Login to http://omnistaging.azurewebsites.net
2. Add new Account.
3. Enter account details ( Enter space multiple character and then any alphabets or name)
4. Hit save button.

Expected : It should not allow user to create account with space character.

Actual results: Able to create account with blank details.

![blankaccount](https://cloud.githubusercontent.com/assets/1252

[2015-05-20 16:22] Rahul-Silicon opened #54 "Login without Authorization"
Steps to reproduce:
1. Open http://omnistaging.azurewebsites.net login page.
2. Enter single Space character in user name and in password fields.
3. Click login button.
4. It will allow user to login as blank account name.

Expected: It should not allow user to login into the website, because any unauthorized user can modify data or account type.

![login](https://cloud.githubusercontent.com/asset

[2015-05-20 20:08] patrickomni commented on #54
This is a #DEBUG option that won't be deployed in retail.

[2015-05-20 20:08] #54 closed, assigned to nobody

[2015-05-20 20:18] patrickomni commented on #52
This is because there is no data. However, we should resize the graph based upon number of days selected.

[2015-05-20 20:19] patrickomni commented on #51
This is a duplicate

[2015-05-20 20:19] #51 closed, assigned to nobody

[2015-05-20 20:19] patrickomni commented on #50
We simply need to remove the grey highlighted box that isn't used anymore

[2015-05-20 20:20] patrickomni commented on #49
I think this is a duplicate.  Casey, please check to see if it is already logged.

[2015-05-20 20:21] patrickomni commented on #47
By design.

[2015-05-20 20:23] patrickomni commented on #46
Google on XP is not supported; there are too many issues with HTML5.

[2015-05-20 20:23] #46 closed, assigned to nobody

[2015-05-20 20:24] patrickomni commented on #48
Only internally exposed; we'll live with it for this release.

[2015-05-20 21:40] davroth opened #55 "No way to identify which trap device has sent displayed message when all Stations selected"
Device data box has message indicating
1. log on to http://omnistaging.azurewebsites.net/emp as Patrick
2. select Sempra Energy scenario
3. Observe displayed page -
   a. devices from all stations are displayed. "Latest Report" shows latest report data for 9 devices and
       all devices are selected
   b. device data box on right side of screen has 1 message - "trap has been armed"

Expected - s

[2015-05-20 22:06] davroth opened #56 "Saving rules taking longer than 2 minutes"
Trying to save a new rule does not ever return control to the user
1. Log onto http://omnistaging.azurewebsites.net as Patrick (using IE as browser)
2. Select Reisner scenario
3. After screen is displayed, click the Settings icon
4. In window that pops up, select Reisner client, then click "Save rule"
5. Observe popup saying "Please wait"

Expected - save action completes

Actual - work never seem

[2015-05-20 22:18] davroth opened #57 "Saving user doesn't appear to complete"
Adding a user does not save the data entered
1. Log on to http://omnistaging.azurewebsites.net as Patrick (IE is browser)
2. Click Edit icon for Reisner, then select Users tab
3. Observe existence of 1 User (the site administrator)
4. Enter data to create a new Account Admin user (data entered was David Rothenberg; dave@omnim2m.com; 14259416927)
5. Click save user button and wait 2+ minutes

Expec

[2015-05-20 22:21] davroth commented on #56
Duplicate of Issue 39

[2015-05-20 22:21] #56 closed, assigned to nobody

[2015-05-20 22:40] davroth commented on #11
doesn't appear to repro as of Tue, 20-May

[2015-05-20 22:48] davroth opened #58 "Language selection doesn't appear to be saved"
After logging in to NetTelligence, changing language to es-mx, logging off, and logging back in as same user, the language has reverted to en-us
1. Log on to http://omnistaging.azurewebsites.net as Patrick (browser is IE)
2. Select Omni Refrigeration
3. Change language from en-us to es-mx
4. Wait until screen labels change
5. log off using drop down in upper right of screen
6. log back in as Patri

[2015-05-20 22:49] davroth commented on #6
the devices tab has been removed - suggest closing this bug

[2015-05-20 22:50] patrickomni opened #59 "Pull datatable out of carousel and place beneath map/chart"
I know, you love me.

[2015-05-20 22:50] davroth commented on #5
isn't "! in a triangle the symbol for alarms?

if yes, then suggest hover text for all column headings

[2015-05-20 23:09] davroth opened #60 "Replace "Impersonation" with role-based priv's"
"Impersonation" will confuse lay users

We refer to "impersonation" in 2 places:
1. landing page where we are asked to "select account to impersonate"
    this page also has the name of the site admin (e.g., Sempra Energy  / Marie Van Zandt)
2. user name in upper right of screen - "Patrick Dengler (as Marie VanZandt)

We appear to have the concept of "roles", and this can be used to do the same th

[2015-05-20 23:55] DaveRoth commented on #56
Why am I receiving these emails?

Dave Roth

[2015-05-21 02:26] davroth commented on #56
Hey Dave, Are you the same guy who used to get my email when we were at Msft?

I just got a Github acct today and used my old email alias. Looks like there's something about my Github registration that's unintentionally going to you rather than me.

Apologies for inconvenience while we get this fixed. Hope all going well for you

Dave Rothenberg

-----Original Message-----
From: "DaveRoth" notific

[2015-05-21 06:31] patrickomni opened #61 "Changing titles insitu doesn't seem to save"
1. Navigate to SV page
2. Double -click to change text field
3. Save
4. Refresh browser
# EXP

Text changed to remain
# OBS

Text reverts to original

[2015-05-21 13:16] Rahul-Silicon opened #62 "Wrong device details name in Samba / Samba User account"
Wrong Device Details name

Steps to reproduce:
1. Signin without credentials in http://omnistaging.azurewebsites.net/emp
2. Select Samba / Samba User account to Impersonate. Here in scenario view page device name under latest report  and device details in graph section is showing  different. (In device details side it is listing name as Freeze 2 but in Device label it is shown as Mini Mart #5)

![

[2015-05-21 14:23] Rahul-Silicon opened #63 "No device details and records found"
Steps to reproduce:
1. Signin without credentials
2. Select  Sempra Energy / Marie Van Zandt account to impersonate as Marie Van Zandt

Here, In Scenario view page, Under stations details it is showing the # 26 numbers of devices but listing only 10 device in first default selection. And when you select the stations from drop down it will show you number of devices available for the selected stati

[2015-05-21 15:33] davroth opened #64 "Let user know that NetTelligence is fetching data after changing display filter"
Staging server is relatively slow and the screen takes several seconds to refresh w/ new data when display filters are modified. Example:
1. a) Select Sempra/Marie b) observe "Please wait" popup while data is retrieved c) Modify filter from Stations to Station 1 d) wait several seconds for screen to refresh

Suggested solution - use either the "Please wait" popup or the "wheel" icon displayed when

[2015-05-21 15:48] CaseyDengler commented on #64
While the server is quite slow, I am seeing "Please Wait" popups as well as "wheel" icons when changing Device Details. Where exactly are you finding these issues?

[2015-05-21 15:54] davroth commented on #64
When I change the list of devices being reported, there is a delay
modifying the data displayed on the left side of the screen (e.g., Data
summaries; latest reports). I don’t see any “popup” or “wheel” letting me
know the system is thinking

I’ve modified comment in bug – sorry it wasn’t clear first time thru (and
thanks for rapid response!) –

dave

_From:_ CaseyDengler [mailto:notifications@gith

[2015-05-21 16:04] CaseyDengler opened #65 "Number of Devices for Traps is counting 26 devices when there are only 10"
Steps:
1) Log into Omni
2) Go to Traps
3) Observe "# of Devices"
4) Count the number of devices listed below

Expected:
The number of devices should be accurately shown in the # of Devices section

Occurs:
The number of devices is less than half of what the # of Devices is showing.
![trap number of devices](https://cloud.githubusercontent.com/assets/12438510/7753056/e6bc981e-ff97-11e4-9e2a-7478321

[2015-05-21 16:12] CaseyDengler commented on #49
Although there are issues that are related to this one, there aren't any (aside from this one) I could find that address the issue of the user information carrying over from one account to another.

[2015-05-21 16:18] CaseyDengler commented on #64
Strange, I'm not able to reproduce that.
Whenever I try, I get this Please Wait pop up.
![please wait traps](https://cloud.githubusercontent.com/assets/12438510/7753392/f7889e70-ff99-11e4-9d74-a4884885db64.png)
What web browser, OS, and device are you using?

[2015-05-21 16:20] CaseyDengler commented on #43
I'm unfortunately still able to reproduce the error.
![tank graph error again](https://cloud.githubusercontent.com/assets/12438510/7753489/9fe49ae2-ff9a-11e4-9ea0-78676ab80d52.png)

[2015-05-21 16:21] CaseyDengler commented on #43
Just realized that I said the issue was in Tanks when it was actually in Fridge. Fixed it up now.

[2015-05-21 16:31] davroth commented on #64
Toshiba Satellite laptop, Windows 8.1, IE 11
I have been having problems w/ my display the past week or so dropping letters, so maybe that's it...

[2015-05-21 16:39] davroth opened #66 "Sempra - trap location icons shown in ocean"
Could just be bad data but capturing this just in case - the map of trap locations for Sempra show lollipops in blue water surrounding Oahu.

Steps:
1. Browse to http://omnistaging.azurewebsites.net/emp, log in anonymously, and select Sempra / Marie
2. Click ">" on right side of screen to change from Device Data to Map of Devices
3. Observe map that shows up

Expected - lollipops displayed on isla

[2015-05-21 16:42] CaseyDengler opened #67 "Changing the size of the window while updating the graph will causes the spinning circle to be replaced with the older graph"
Steps:
1) Log into Omni
2) Go to Tanks
3) Change the graph from 24h to 3 days
4) While the graph is loading up, make the window smaller (I can't remember what it's called...the button between minimize and close)
5) Observe the graph

Occurs:
The 24 hour graph replaces the spinning circle, making the user believe that the graph went back to the old information rather than trying to update itself. G

[2015-05-21 16:52] CaseyDengler opened #68 "Fridge rules UI slider can make the ceiling number look like a double negative"
Steps:
1) Log into Omni
2) Go to Fridge
3) Go to any rules
4) Change the temperate range to (negative - negative)

Occurs:
Because of the '-' between the two numbers, when the second number on the slider is a negative, the rules almost look like it's saying "between -30 and --10" at a quick glance.

Changing the '-' to a 'to' should work out well.

[2015-05-21 16:56] CaseyDengler commented on #66
#41
This is has been logged already, but we don't actually know where they are currently.

Hey Dan, do we have the real coordinates for these devices?

[2015-05-21 17:00] CaseyDengler commented on #64
Ah, I'm getting the same issue on IE as well. The circle for the tab spins, but no pop up shows up at all when changing the drop down box on the left. I'll give assign Chris to this as well.

[2015-05-21 17:16] CaseyDengler opened #69 "On IE, changing the Fridge slider in rules to the lowest possible number forces the rules pop up to close"
Steps:
1) Open up IE
2) Log into Omni
3) Go to Fridge
4) Change the rules slider to go to the lowest possible number by quickly sliding the left part of the bar farther than where the bar stops

Occurs:
If the user over shoots the end of the bar, then the rules pop up forcefully closes down.

Note:
If these steps are a bit confusing, please let me know and I'll try to elaborate or just record myse

[2015-05-21 17:30] CaseyDengler opened #70 "Alerts not showing up on larger table"
Steps:
1) Log onto Omni
2) Impersonate any account
3) Find devices that have no errors

Expected:
Devices with no errors show '0's

Occurs:
When there are no alerts, no number is shown. Could seem like the section is broken.

![alerts fridge](https://cloud.githubusercontent.com/assets/12438510/7754844/70aab7fc-ffa4-11e4-85ec-68f46406554c.png)

[2015-05-21 17:41] CaseyDengler commented on #5
I believe that this is just referencing the number of messages.
For example, Fridge shows just two messages and the symbol counts two...things.
![symbol fridge](https://cloud.githubusercontent.com/assets/12438510/7754942/64569416-ffa5-11e4-888a-8432d56c804e.png)

While Traps shows a single alert and a single count for the odd symbol
![symbol traps](https://cloud.githubusercontent.com/assets/124385

[2015-05-21 17:47] davroth opened #71 "Latest Report - default column labels are inconsistent"
Low priority item

Column labels are inconsistent - one default label is "Battery (V)" and the adjacent default label is "Temp-(F)"

Expected - "Temp (F)"

[2015-05-21 17:48] davroth opened #72 "Latest Report - default column labels are inconsistent"
Low priority item

Column labels are inconsistent - one default label is "Battery (V)" and the adjacent default label is "Temp-(F)"

Expected - "Temp (F)"

[2015-05-21 17:48] #72 closed, assigned to nobody

[2015-05-21 17:52] davroth opened #73 "Latest Report column labels - allow personalization of units for Temp"
Capturing this for completeness - is there any way to control units for temperature?

Much of the world uses centigrade while US uses Fahrenheit; mental computation/switching can be tricky. We should either allow setting by account or show both

[2015-05-21 17:53] CaseyDengler opened #74 "Limited amount of change from switching languages"
Possibly of little concern until things are running more smoothly, but will still log in for the sake of it

Steps:
1) Log into Omni
2) Change the language from es-us to es-mx (found on bottom right of the page)
--This can be viewed on practically any page

Occurs:
Many parts of the site are still in English, and some pages (such as emp) show no difference between English and Spanish versions, and

[2015-05-21 17:56] davroth opened #75 "Labels inconsistent - "Messages" in summary line; "Latest Reports""
I believe these are referring to the same thing (e.g., data packets received off the wire from devices in the current filter). And if they are, then the labels should be the same as many of our users won't recognize these as synonyms.

![capture-labels](https://cloud.githubusercontent.com/assets/12534533/7755301/f03fa9a2-ffa7-11e4-9472-7fc9158660c9.PNG)

[2015-05-21 18:13] CaseyDengler commented on #73
I don't think that it's currently a feature, but the conversions are quite simple.

°F = °C  x  9/5 + 32
0 °C = 273.15 K

[2015-05-21 18:17] CaseyDengler commented on #21
I'm assuming that the devices that have these issues are unable to scroll around the page. If so, then we would need to find a way to get all the information on the page without the user needing to scroll around. If possible, does zooming out on the page reveal more information?

[2015-05-21 18:36] patrickomni commented on #74
Let's remove the language switcher in this build for now.  We have a feature work item to "finish" globalization for the next round

[2015-05-21 18:39] patrickomni commented on #73
Added work item; moving to future.

[2015-05-21 18:40] patrickomni commented on #71
This is data customization.  Once the bug that allows to change labels, we will make it possible.

[2015-05-21 18:40] #71 closed, assigned to nobody

[2015-05-21 18:44] DaveRoth commented on #63
STOP THIS FEED / REMOVE MY EMAIL

Dave Roth

[2015-05-21 18:44] DaveRoth commented on #64
STOP THIS FEED / REMOVE MY EMAIL

Dave Roth

[2015-05-21 18:44] DaveRoth commented on #64
STOP THIS FEED / REMOVE MY EMAIL

Dave Roth

[2015-05-21 18:44] DaveRoth commented on #64
STOP THIS FEED / REMOVE MY EMAIL

Dave Roth

[2015-05-21 18:45] DaveRoth commented on #49
STOP THIS FEED / REMOVE MY EMAIL

Dave Roth

[2015-05-21 18:45] DaveRoth commented on #65
STOP THIS FEED / REMOVE MY EMAIL

Dave Roth

[2015-05-21 18:45] DaveRoth commented on #64
STOP THIS FEED / REMOVE MY EMAIL

Dave Roth

[2015-05-21 18:45] DaveRoth commented on #43
STOP THIS FEED / REMOVE MY EMAIL

Dave Roth

[2015-05-21 18:45] DaveRoth commented on #64
STOP THIS FEED / REMOVE MY EMAIL

Dave Roth

[2015-05-21 18:46] DaveRoth commented on #66
STOP THIS FEED / REMOVE MY EMAIL

Dave Roth

[2015-05-21 18:46] CaseyDengler opened #76 "Switching from one group to another on the drop down box causes the Device Details page to show up blank on Chrome"
Steps:
1) Log into Omni using Chrome
2) Go to Fridge or Tanks
3) Change the sub category on the drop down box (Top left thing)
4) Observe the graph once page has loaded up

Expected:
The graph loads up with the recent data

Occurs:
The graph does not show up and all parts of the Device Details (aside from maps) stays blank
![empty device details](https://cloud.githubusercontent.com/assets/12438510

[2015-05-21 18:48] DaveRoth commented on #71
STOP THIS FEED / REMOVE MY EMAIL

Dave Roth

[2015-05-21 18:48] DaveRoth commented on #72
STOP THIS FEED / REMOVE MY EMAIL

Dave Roth

[2015-05-21 18:48] DaveRoth commented on #5
STOP THIS FEED / REMOVE MY EMAIL

Dave Roth

[2015-05-21 18:48] patrickomni commented on #70
Make 0 surface in this milestone.

[2015-05-21 18:49] CaseyDengler opened #77 "Support tool tips on table headers"

[2015-05-21 18:53] patrickomni commented on #66
Dan, can we get at least reasonable gps coordinates for the gateways.

[2015-05-21 18:54] CaseyDengler opened #78 "Messages not changing to selected devices"
Steps:
1) Log into Omni
2) Go to Fridge
3) Change Device Details to Device Data by clicking on the arrow on the right below Device Details
4) Deselect all devices

Expected:
Messages disappear as any devices related to them are no longer selected

Occurs:
Messages stay up regardless of what devices are selected

![message still there](https://cloud.githubusercontent.com/assets/12438510/7756456/326

[2015-05-21 18:57] patrickomni commented on #65
There's actually 120

[2015-05-21 18:58] patrickomni commented on #63
By design

[2015-05-21 18:58] #63 closed, assigned to nobody

[2015-05-21 19:06] CaseyDengler commented on #49
Similar to #57 but newer bug seems to have additional info. I'll close this but copy the information into a  comment for #57.

[2015-05-21 19:06] #49 closed, assigned to CaseyDengler

[2015-05-21 19:06] CaseyDengler commented on #57
From older post, #49
Closed older one because this one seemed to have more information, but keeping info in just in case.

Steps to reproduce:
1. Signin without credentials
2. Select any type account to Edit the properties of the account and add new user for the account.
3. Click save user.

Expected : 1)  It should allow user to save new user for the account but here user is not saving when you c

[2015-05-21 19:13] CaseyDengler opened #79 "Titles of the Table can all become blank by inputting a space as the name"
If the user inputs a single space into the title for the tables, nothing shows up for those titles and, because there are no characters for the user to click on, the titles cannot be changed back.

Steps:
1) Log into Omni
2) Go to Traps, Fridge, or Tanks
3) Change a title of the graph to a single space
4) Attempt to change the name to something else

Expected:
Either the user is still able to chan

[2015-05-21 19:18] CaseyDengler opened #80 "When changing drop box on the top left of any impersonation, the titles on the tables cannot be changed (Chrome only)"
Steps:
1) Log into Omni using Chrome
2) Go to Traps, Tanks, or Fridge
3) Change the drop box on the top left
4) Attempt to change the labels on the tables

Expected:
User is able to change the labels on the tables after switching

Occurs:
The user is unable to change any labels. No small pop up saying that they can shows up and the double clicking any labels only highlights them

Note: Related to

[2015-05-21 19:28] davroth opened #81 "Right part of account landing page - scroll control ('>' and '<') is unclear"
Use of the scroll paradigm on the right side of the account landing page has limited "discoverability". It isn't clear to me what/how many screens there are.

At the moment, there are no more than 3 screens: 1) Device Details (graph) 2) Device Data (messages) 3) Map of Devices.

Can a Tab Control be used so user can have a bit more control? (Note - if we think there will ever be 5 or more such scr

[2015-05-21 19:31] davroth opened #82 "Sempra - right part of landing page only has 2 screens"
Close this bug w/ comment explaining reason for not having Device Details if this was intentional

All other scenarios allow user to scroll thru 3 screens, but Sempra only has 2 screens (Map of Devices, Device Data). The missing 3rd screen is Device Details, a graph. It may be interesting to show a graph of number of "alerts"?

[2015-05-21 20:00] davroth opened #83 "URL scrub"
Need to get consistent about URLs that show up in the address bar - its been requested that "Ping" and "Pong" be replaced by something more meaningful

[2015-05-21 21:56] davroth opened #84 "Time selection control missing from Device Data carousel view"
I am able to set time span for the Device Details graph on the carousel view. However, that control is not visible on Windows 8.1, IE 11 when carousel is moved to Device Data view.

![capture - time control missing](https://cloud.githubusercontent.com/assets/12534533/7759808/7f328be0-ffc9-11e4-8ef2-15515588c353.PNG)

[2015-05-21 23:22] christopherdude commented on #76
This was an ugly one.  Apparently Chrome understands partial postbacks differently than IE.  I had to run at chromeReloadScript -- Sys.WebForms.PageRequestManager.getInstance().add_endRequest(LoadPage);

[2015-05-21 23:24] christopherdude commented on #69
I tried what you said - I couldn't repro.  Which version of IE?

[2015-05-21 23:26] christopherdude commented on #68
Fixed as suggested

[2015-05-21 23:41] christopherdude commented on #67
Pat, this one may not be worth it.  According to several sources (see http://stackoverflow.com/questions/3444719/ for example) we'd have to implement a POLLING technique to check the location every "n" seconds.  Thoughts?

[2015-05-21 23:46] christopherdude commented on #64
Fixed and ready for test

[2015-05-21 23:50] christopherdude commented on #62
This looks like it was fixed before I got to it?  I don't see the error... I see it correctly showing Mini Mart #5

[2015-05-22 00:09] christopherdude commented on #61
Closed per Pat and Chris paired programming

[2015-05-22 00:52] patrickomni commented on #74
removed language switcher

[2015-05-22 03:16] patrickomni commented on #70
Done

[2015-05-22 03:17] patrickomni commented on #58
Removed language selection for now; twas a developer tool

[2015-05-22 03:28] patrickomni commented on #55
It now includes device, but before logging more bugs on alerts data bugs, email me first.  Some of those alerts are test data and I'm building up real alerts through the test harness.

[2015-05-22 03:35] christopherdude commented on #84
I don't know what this one means.

[2015-05-22 03:44] christopherdude commented on #50
Done

[2015-05-22 03:47] christopherdude commented on #44
Fixed in next build for test

[2015-05-22 03:49] christopherdude commented on #42
I believe this was fixed with a previous, but similar issue on another page.  Please verify if it works now.  I went through it and saw data on each page.

[2015-05-22 03:50] #76 closed, assigned to CaseyDengler

[2015-05-22 03:51] christopherdude commented on #40
This is more of a database thing than me?

[2015-05-22 03:56] christopherdude commented on #39
This is not good.  I am seeing the rules being saved at line 174 of ModalRulesSettings.ascx.cs file.  Pat, can you debug to see if the fields are correctly going in?

[2015-05-22 03:56] CaseyDengler opened #85 "Missing some labels on the data tables"
Steps:
1) Log into Omni
2) Go to Traps, Tanks, or Fridge
3) Look at "Boo" on the left side

Labels are either missing or named oddly. Should be set back to defaults.
![odd and missing labels](https://cloud.githubusercontent.com/assets/12438510/7763829/d4b1ef84-fffb-11e4-90fc-7e030351d45c.png)

[2015-05-22 03:57] #70 closed, assigned to CaseyDengler

[2015-05-22 03:58] christopherdude commented on #36
He's right - this is the same error where rules aren't saving.  Line 174 of ModalRulesSettings.ascx.cs is where it gets saved, but I need a visual check on proper params being passed.

[2015-05-22 03:59] CaseyDengler commented on #69
I'm using IE 11. Trying doing it in one swift motion until the mouse is at the edge of the screen perhaps? I'm still getting the error at least.

[2015-05-22 04:00] #68 closed, assigned to CaseyDengler

[2015-05-22 04:02] CaseyDengler commented on #61
Might explain issue #85
Either way, it's good

[2015-05-22 04:02] #61 closed, assigned to CaseyDengler

[2015-05-22 04:05] #55 closed, assigned to CaseyDengler

[2015-05-22 04:05] christopherdude commented on #38
Fixed.  This was an error in JS logic.

[2015-05-22 04:07] christopherdude commented on #25
We may have this fixed with a new fix already put in.  I'm waiting to hear from Pat on this.

[2015-05-22 04:07] christopherdude commented on #14
We may have this fixed.

[2015-05-22 04:09] CaseyDengler commented on #50
Assuming that I'm getting this right, I'm still able to reproduce.
![something in the way](https://cloud.githubusercontent.com/assets/12438510/7763954/a14123f2-fffd-11e4-88c0-90671efbad80.png)

[2015-05-22 04:12] CaseyDengler commented on #43
I'm terrible with communication. The issue itself is not fixed yet, just my inconsistency with Tank/Fridge in the original posting. Still visible in Fridge.

[2015-05-22 04:14] CaseyDengler commented on #42
Yep, fixed up.

[2015-05-22 04:14] #42 closed, assigned to CaseyDengler

[2015-05-22 04:16] davroth commented on #84
A number of alerts may be displayed in the Device Data pane. Is there a way to direct NetTel how far back to go?

There is a drop down on Device Details carousel graph that allows user to specify last  24 hrs, last 3 days, etc.

Do we want similar on Device Data?

I'm assuming we want to be able to view alert history

-----Original Message-----
From: "christopherdengler" notifications@github.com
S

[2015-05-22 04:18] CaseyDengler commented on #38
Still able to reproduce, but only when no rules are changed.

I did run into a few times when the "Please Wait" went on for a while after changing the rules, but after refreshing the rules did change. I'm not sure if it did hang or if it was just taking a long while to work in these cases.

[2015-05-22 04:20] CaseyDengler commented on #30
Only occurred once before changing the rules, as it seems should happen. Fixed.

[2015-05-22 04:20] #30 closed, assigned to CaseyDengler

[2015-05-22 04:27] patrickomni commented on #39
Fixed

[2015-05-22 04:27] patrickomni commented on #36
Fixed

[2015-05-22 05:09] patrickomni commented on #84
We're going to move this out of the carosusel

[2015-05-22 05:10] patrickomni commented on #85
Fixed in next build

[2015-05-22 05:11] patrickomni commented on #75
These are all now yours to own and only you can change the defaults.  Have fun :)

[2015-05-22 05:11] patrickomni commented on #40
I fixed this I hope

[2015-05-22 05:30] CaseyDengler commented on #85
Some are still miss named
![names](https://cloud.githubusercontent.com/assets/12438510/7764622/d4634372-0008-11e5-8bfa-c77bfae976ab.png)

![names 2](https://cloud.githubusercontent.com/assets/12438510/7764638/0bb88418-0009-11e5-8d61-f15a5271128b.png)

[2015-05-22 05:33] CaseyDengler commented on #39
Can't reproduce.

[2015-05-22 05:33] #39 closed, assigned to CaseyDengler

[2015-05-22 05:38] CaseyDengler commented on #36
Not able to change the temperatures from (-22F to 30F).

Note: No pop up saying that rules have been saved, and only works on the site level. Individual devices are fine.

[2015-05-22 05:41] #40 closed, assigned to CaseyDengler

[2015-05-22 06:36] patrickomni opened #86 "On traps, carousel still has navigation pointers and shouldn't"

[2015-05-22 06:37] patrickomni commented on #85
Dave owns these.

[2015-05-22 06:38] patrickomni commented on #84
Alerts are not part of carousel anymore

[2015-05-22 06:39] patrickomni commented on #69
No longer repro

[2015-05-22 06:42] #59 closed, assigned to christopherdude

[2015-05-22 06:44] patrickomni commented on #50
fixed again

[2015-05-22 06:45] patrickomni commented on #43
Fixed

[2015-05-22 06:46] patrickomni commented on #38
Works for individual, but not for site

[2015-05-22 06:48] patrickomni commented on #21
Dan wants to keep Device in addition to label; that will keep us wide.   Recommend removing / replacing device id (maybe adding a tooltip to the device Id). Moving this out past V1 Go live

[2015-05-22 06:49] patrickomni commented on #36
This at the site level

[2015-05-22 06:57] patrickomni commented on #38
Fixed

[2015-05-22 07:00] patrickomni commented on #25
Fixed

[2015-05-22 07:00] patrickomni commented on #14
Fixed

[2015-05-22 07:00] patrickomni commented on #13
Fixed

[2015-05-22 07:01] patrickomni commented on #7
Fixed

[2015-05-22 07:02] patrickomni commented on #12
Fixed

[2015-05-22 07:04] patrickomni commented on #62
Fixed

[2015-05-22 07:13] patrickomni commented on #36
Fixed

[2015-05-22 07:14] patrickomni commented on #65
But, only the 10 have reported so this is by design.

[2015-05-22 15:14] davroth opened #87 "Basic security"
Need a few words to help set scope

[2015-05-22 15:24] davroth opened #88 "Send Alerts thru Email"
1. Alert-level support choice of Email, SMS, Both (same user may be configured to receive some of their alerts via email, others via SMS)
2. Connect to SMTP engine
3. User-level support choice of Email, SMS, Both in UI (user can establish default for all alerts)

Suggest keeping #3 simple - it could get complex hard to explain otherwise: similar to payment paradigm with credit card selection (use

[2015-05-22 15:25] davroth opened #89 "Match view to spec (Dan's)"
Pointer to spec please?

[2015-05-22 15:39] davroth opened #90 "Daily Rules Processing"
Currently, rules run when triggered by events. This enhancement gives us ability to run rules according to time based schedule.

Events that trigger rules processing are typically message/status arrivals so the rules typically operate against only a single event. This enhancement gives us flexibility to run rules against an arbitrary number of messages, devices, etc including "devices not reportin

[2015-05-22 15:41] davroth opened #91 "UI Extensibility"
Comment says "moving alert data into a separate table" - Please add a bit more detail

[2015-05-22 15:42] davroth opened #92 "Complete Globalization"
Unclear whether this means "globalization everything everywhere" or "finish the job of globalization"

[2015-05-22 15:44] davroth opened #93 ""Test Rules" in Rules UI"
Ability to test a rule to ensure it works as expected without having to wait for a real event (or some other sort of trigger) to occur

For time-based (e.g., daily rules processing), this will be equivalent of "do it now"

[2015-05-22 15:47] davroth opened #94 "Data entry validation"
Phone number, email validation - perhaps the best way to do this would be to generate test msgs?

[2015-05-22 15:49] davroth opened #95 "Self service on trial site"
Allow user to create demo account, device, and enter sample data to see what it's like

Eventually, we'll want to require registration prior to using this function which should also include the normal validation/confirmation email like Github and others use when setting up an account

[2015-05-22 15:50] davroth opened #96 "Alert indicators on graph/map w/ hover caption"

[2015-05-22 15:51] davroth opened #97 "Actionable alerts"
please provide a few more details regarding the tiny workflow

[2015-05-22 15:52] davroth opened #98 "Customizable actions"
assume this will follow Outlook Rules Creation paradigm where there are a limited number of actions exposed in UI and that underlying architecture makes it straightforward to introduce new actions

[2015-05-22 15:53] davroth opened #99 "Performance enhancements"
Basic table indices, generated site hierarchy, generate last reported

[2015-05-22 15:54] davroth opened #100 "Security"
HTTPS
Integration w/ 3rd party AuthN solutions (LinkedIn, Google, etc)

[2015-05-22 15:55] davroth opened #101 "SkyApi SDK"
interfaces w/ samples, documentation so 3rd party device vendors can integration

[2015-05-22 15:56] davroth opened #102 "RulesApi SDK"
interfaces, samples, documentation to support 3rd party extension

[2015-05-22 18:07] danomni commented on #21
Every other element in the page is dynamic (graph, rules, etc.), but it is clear when even viewing this on a 13" computer monitor (attached image), that the table begins to break apart. If we want to keep it wide we need to add a scroll bar into the table and not assume the users will know where the table ends or begins. This needs to be high priority for the next go live.
![screen shot 2015-05-22

[2015-05-22 18:13] danomni opened #103 "Sempra Scenario View (Traps View) Shows Temperature"
In the 'Checking Change' table, 'Temp
![screen shot 2015-05-22 at 11 13 09 am](https://cloud.githubusercontent.com/assets/10458099/7776901/90afafb0-0073-11e5-9da9-83301b9cb6d3.jpg)
' is displayed as a column. This should be eliminated

[2015-05-22 18:15] danomni opened #104 "Decimel Place For 'Battery (V)' is Missing"
In the 'Checking Change' table there is no decimel place for voltage. Ex: In screenshot the first row battery level should read 2.9 and so on

![screen shot 2015-05-22 at 11 13 51 am](https://cloud.githubusercontent.com/assets/10458099/7776942/e1271b36-0073-11e5-8a9b-f13d498fbdc1.jpg)

[2015-05-22 19:08] davroth opened #105 "Rules dialog - allow user to provide text to be sent as part of rule creation/mgmt"
Give user control over the alert message sent when sensor readings fall outside a specified range

[2015-05-22 19:14] davroth opened #106 "Support assembly of text delivered in an alert"
Samba would like its alert messages to inform recipients of the impact of the current out-of-range condition (e.g., high temp) on the contents in the refrigerator being monitored. ("At the current temperature, contents will spoil at the following rates: ice cream - 2 hrs; fish - 6 hrs")

To do this, we'll need to support:
1. event-driven assembly of alert text
2. assignment of 1 or more content-ty

[2015-05-22 21:13] CaseyDengler commented on #64
Can't reproduce

[2015-05-22 21:13] #64 closed, assigned to CaseyDengler

[2015-05-22 21:15] #62 closed, assigned to CaseyDengler

[2015-05-22 21:18] #50 closed, assigned to CaseyDengler

[2015-05-22 21:20] CaseyDengler commented on #69
Issue is different than originally thought, Closing this one and opening a new one addressing it.

[2015-05-22 21:20] #69 closed, assigned to CaseyDengler

[2015-05-22 21:25] CaseyDengler opened #107 "Clicking outside the rules box automatically closes it"
Steps:
1) Log into Omni
2) Go to any user with changeable rules
3) Click outside of the rules box

Occurs:
The page automatically closes and no rules that were made are saved

Expected:
Hard to say. On one hand, clicking outside of boxes such as these are a common way to get out of them, yet as issue #69 pointed out, moving the mouse outside of the box when releasing the mouse click can cause the

[2015-05-22 21:25] #65 closed, assigned to CaseyDengler

[2015-05-22 21:27] #44 closed, assigned to CaseyDengler

[2015-05-22 21:34] CaseyDengler commented on #43
Not fixed yet. One more miss and you owe me donuts?

![still with graph](https://cloud.githubusercontent.com/assets/12438510/7780057/3ab51e08-008f-11e5-95df-53ad1e2644ee.png)

[2015-05-22 21:37] #38 closed, assigned to CaseyDengler

[2015-05-22 21:40] #36 closed, assigned to CaseyDengler

[2015-05-22 21:50] CaseyDengler opened #108 "Site Freezes when going into a subcategory in Chrome"
Steps:
1) Log into Omni using Chrome
2) Go to Traps, Tanks, or Fridge
3) Select a subcategory from the drop down menu on the top left (Boat 2 for example)

Occurs:
The site does load up the page, but it's all grey and nothing can be interacted with.
Even after refreshing, this bug shows up again and again.
![grey site](https://cloud.githubusercontent.com/assets/12438510/7780314/e348df8a-0091-11e5-

[2015-05-22 21:54] #14 closed, assigned to CaseyDengler

[2015-05-22 21:56] #13 closed, assigned to CaseyDengler

[2015-05-22 21:57] #12 closed, assigned to CaseyDengler

[2015-05-22 21:59] #7 closed, assigned to CaseyDengler

[2015-05-22 22:00] #6 closed, assigned to CaseyDengler

[2015-05-22 22:06] CaseyDengler opened #109 "Unable to sign out of newly created users"
Steps:
1) Log into Omni
2) Create a new account
3) Create a new user for that account
4) Log into that newly created user
5) Attempt to sign out

Expected:
User is able to sign out and is redirected to the login page

Occurs:
User is unable to sign out. (I'm actually stuck as "RedoAgain" and am unable to get to the normal site on Chrome. I'm afraid to test this with IE and being completely locked

[2015-05-23 11:40] Rahul-Silicon opened #110 "Setting for Device(s) at site Y-Hata International not saving for all Devices."
Settings for devices by site (site Y-Hata International) are not saving same rule for all the device at site Y-Hata International. Try to change or modify the rules for devices at site and click on the save rule button.

Again open setting for the site and settings for devices and analyse the result. (Both have different rule)

Settings for Device at site:

![image](https://cloud.githubusercontent

[2015-05-23 11:50] Rahul-Silicon opened #111 "Setting for Device(s) at site Y-Hata International - Wrong check box label"
Wrong check box label is written for devices at Setting for Device(s) at site Y-Hata International. It is written there "Enable rules for this device " but it should change to Enable rules for the devices or Enable rule for all the devices.

![settings](https://cloud.githubusercontent.com/assets/12525836/7783881/d8731510-016f-11e5-870c-64f0eaffb2ab.png)

Steps:
1) Log into Omnistaging.azurewebsite

[2015-05-23 13:03] Rahul-Silicon opened #112 "Different view on iPad in safari browser"
This is the screen short for the website in iPad  safari browser for Landscape and Portrait mode. Tables coloumn are not fit.

Portrait view:

![photo1](https://cloud.githubusercontent.com/assets/12525836/7784171/befaf35a-0179-11e5-88cc-a90f76c9935d.jpg)

Landscape View:

![photo2](https://cloud.githubusercontent.com/assets/12525836/7784170/be780544-0179-11e5-8b4b-c3704ef5cb54.jpg)

[2015-05-23 13:12] Rahul-Silicon opened #113 "Website freezes in iPad safari browser"
Website freezes when changing the distributor list from drop down.

Before changing:
![photo2](https://cloud.githubusercontent.com/assets/12525836/7784215/151fd42a-017b-11e5-813d-ebb160db8df9.jpg)

After change:

![photo1](https://cloud.githubusercontent.com/assets/12525836/7784217/39746098-017b-11e5-85c9-931f50f13a71.jpg)

Steps:
1) Open safari browser in Ipad
2) Log into Omnistaging.azurewebsite

[2015-05-23 13:38] Rahul-Silicon commented on #46
In iPad safari browser also same issue.

[2015-05-23 15:56] davroth opened #114 "Alert management - basic"
If we can't do this already, this one is high priority

Ability to manage alert status and indicate resolution (e.g., closed - fixed; closed - no repro). This could be 2 properties or a longer list of status selections.
Ability to record timestamp and person making the change for each status change

[2015-05-23 15:58] davroth opened #115 "Alert management - next level"
Ability to assign a user to an alert
Assignment of alert to user should trip a rule that sends SMS/Email to the newly assigned user
Record assignment event (timestamp, person making the assignment, maybe even a comment property)

[2015-05-23 16:02] davroth opened #116 "Alert history"
Provide different views for alerts:
1. currently active alerts (believe we already have this)
2. all alerts of a particular status
3. all alerts during a user-specified time period
4. all alerts of a particular status during a user specified time period
5. all alerts for a particular site OR device
6. all alerts of site/device w/ a specified status during a user specified time period

[2015-05-25 10:19] Rahul-Silicon opened #117 "Edit Account window scaling issue in iPad browser."
Steps to reproduce:

1) Login to Omnistaging.azurewebsites.net
2) Select any account type to edit the properties of the account in Portrait and Landscape mode and analyse the window, in this page windows is opening but scaling is not done properly. (Not fitting according to the device mode)

Portrait Mode:
![photo1](https://cloud.githubusercontent.com/assets/12525836/7795737/521341fc-02f5-11e5-8a2

[2015-05-25 10:37] Rahul-Silicon opened #118 "Internationalization feature missing - http://omnistaging.azurewebsites.net"
In current website http://omnistaging.azurewebsites.net Internationalization feature is not available.

![image](https://cloud.githubusercontent.com/assets/12525836/7795977/f2e98364-02f7-11e5-83a0-61addf0d5a8e.png)

[2015-05-25 11:51] Rahul-Silicon commented on #62
This is fixed in windows based web browser but in iPad if user is changing graph from 24 hours to live data then it is showing pop up that "Data will refresh in every 5 seconds" that time analyse the graph it will show Device name as Freeze 2.

iPad browser testing Image is attached for reference:

![photo1](https://cloud.githubusercontent.com/assets/12525836/7796897/17eb4ecc-0302-11e5-967e-179116

[2015-05-26 19:46] davroth opened #119 "Adding user - workflow gives unexpected results"
Add user workflow needs work; there are likely several different bugs here, but both workflow and results confused me, so perhaps these can be addressed together:
1. After clicking "save user", the newly added user is still there but all of the data from that user have also been auto-filled in the "add new user" row. Clicking "save user" saves that same data as a 2nd user
2. After clicking "save u

[2015-05-26 20:07] davroth commented on #87
Introduce SSL
Encrypt password
#100

[2015-05-26 20:21] davroth commented on #95
Need a spec - how is it going to work?
a. create account
b. create devices, allow user to specify units, reporting fre
c. select data set to load (historical, w/ alerts)
d. somehow get alerts directed to you...

[2015-05-26 20:25] patrickomni commented on #97
We want some verbs/actions  associated with individual alerts.

Assign / Resend , Close, ?
And there's a resolution.

[2015-05-26 20:27] patrickomni commented on #97
dupe now of #114 and #115

[2015-05-26 20:27] #97 closed, assigned to patrickomni

[2015-05-26 20:28] patrickomni commented on #98
There are two layers - the above discussed 'built in' actions and completely customizable (i.e. call bob my fridge repair guy).  The latter, will take more thinking on how to present to the user and the former can done with the UI we have today.

[2015-05-26 20:29] patrickomni commented on #98
The latter should be set via #101 SkyAPI SDK

[2015-05-26 20:52] #91 closed, assigned to patrickomni

[2015-05-26 21:02] davroth opened #120 "Role-based tool tips"
For authorized user, tool tip can say "double click to change"
For regular user, tool tip can explain purpose of column...

[2015-05-26 21:27] davroth opened #121 "Geo-fence - enable it"
Management - creation/modification of geo-fencing
Alerts - based on entry/exit in geo-fence area; assign device to geo-fence

[2015-05-26 22:21] davroth opened #122 "Self service device registration"
Provide ability for authorized users (in a particular role) to create/manage their own devices.

[2015-05-28 19:00] davroth opened #123 "Sempra Scenario View - no graph pane on carousel"
IE 11 on Windows 8.1 - the carousel cannot be advanced to display a graph. I'm not sure whether this is a data issue or some other problem

Steps:
1. Log on anonymously to http://omnistaging.azurewebsites.net and select Sempra / Marie Van Zandt
2. Observe page that is displayed
3. Click icon to advance icon

Expected - graph view

Actual - nothing happens

[2015-05-28 22:16] CaseyDengler opened #124 ""Double Click to change label" on the upper right of the details page gets cut off"
Steps:
1) Log into Omni
2) Go to Traps, Tanks, or Fridge
3) Hover over the upper right box (Often where map or Timeline is)

Occurs:
The text that says that the user can change the label by double clicking on the name is cut off, leaving behind a small amount of black instead.
![cropped off text](https://cloud.githubusercontent.com/assets/12438510/7872378/860d401c-054c-11e5-9f30-3739eebee99b.png)

[2015-05-28 22:20] CaseyDengler commented on #123
There is no other data, as traps don't have any graphs, so there is nothing to advance to. Though this does bring up an issue where it seems like the user can switch displays when there are no others. I'll close this issue and make a new one addressing it.

[2015-05-28 22:20] #123 closed, assigned to nobody

[2015-05-28 22:24] CaseyDengler opened #125 "Switching between different data sheets (graph and map for example) appear to be possible when they are not"
Steps:
1) Log into Omni
2) Go to Traps
3) Observe the left and right arrows below the map

Occurs:
These two arrows bring an assumption to the user that there is more information and when clicking on these arrows does nothing, confusion occurs.
![confusing arrows](https://cloud.githubusercontent.com/assets/12438510/7872532/a210b644-054d-11e5-9478-9cf473835f4b.png)

Expected:
There should be no arr

[2015-05-28 22:25] #84 closed, assigned to davroth

[2015-05-28 22:33] CaseyDengler commented on #23
Basic spelling skills achieved

[2015-05-28 22:33] #23 closed, assigned to danomni

[2015-05-28 22:39] CaseyDengler commented on #25
Almost. The information that was filled into one box is carried over, auto filling any other new user information. Instead, when the user's information has been saved or cancelled (maybe not cancelled?), the next set of boxes for adding a new user are empty. This issue carries over into other accounts until the user logs off or impersonates someone.

[2015-05-28 22:55] CaseyDengler opened #126 "When there is no new data, the graph does not fill in the gap of information until new information is given"
To reproduce you might have to artificially recreate the data. If needed, simply make it so there's no data for a few days.
For now, it seems that this error can be seen normally
Steps:
1) Log into Omni
2) Go to Fridge
3) Select "30 Days" for the graph

For reference, this information was observed at 5/28/2015 at around 3:50pm.

Expected:
Given that it's been a few days since new information has b

[2015-05-28 23:05] CaseyDengler opened #127 "Graph and Table work off of two different clock set ups (12hr and 24hr)"
Steps:
1) Log into Omni
2) Go to Tanks
3) Select "3 Days" from the drop down box for the graph
4) Hover over a section of the graph between 1:00pm and 12:00am
5) Observe data table on the left side of the page, specifically the "Time" section

Occurs:
The graph seems to work off of a 24 hour based clock, that is, once the time is 1:00pm, the graph will say that its 13:00. The table on the other ha

[2015-05-28 23:09] CaseyDengler commented on #25
Found out that the reason I kept this issue open is already listed in issue #11 so there is no reason to keep this one around.

[2015-05-28 23:09] #25 closed, assigned to patrickomni

[2015-05-28 23:14] CaseyDengler opened #128 "Users are able to be saved with missing information"
Steps:
1) Log into Omni
2) Either create a new account or edit an existing one
3) Go to the "Users" Tab
4) Click on "Save Users"

Expected:
The user is not saved and the site claims that specific fields must be filled in before the user can be saved

Occurs:
The user is simply saved as a blank list of boxes.

[2015-05-28 23:28] CaseyDengler opened #129 "No circular graph is after saving rules (whether or not rules were saved"
Steps to reproduce:
1) Log into Omni
2) Go to Tanks
3) Open the rules up
4) Hit the "Save rules" button
5) Observe the "%" section on the table any device

Occurs:
There is nothing left in the % section of the graph.
Before Save
![before low fuel](https://cloud.githubusercontent.com/assets/12438510/7873361/4b9f54a6-0556-11e5-8470-69d2341580c4.png)

After Save
![after low fuel](https://cloud.github

[2015-05-28 23:35] CaseyDengler opened #130 "Graph does not default to the 24 hour section after saving rules"
Steps:
1) Log into Omni
2) Go to Fridge
3) Select the "30 days" section from the drop down box for the graph
4) Open up the rules section
5) Click "Save rules"
6) Observe the graph again

Occurs:
The drop down box claims that the graph is representing the last 24 hours, but the graph is actually showing the information from "30 days" still.
![inconsistent graph after saving](https://cloud.githubus

[2015-05-28 23:42] CaseyDengler opened #131 "Unable to scroll through the page after saving rules"
Steps to reproduce:
1) Log into Omni
2) Go to Traps
3) Open up the rules window
4) Click on "Save rules"
5) Attempt to scroll down the page

Expected:
User is able to scroll though the page normally

Occurs:
The page refuses to let the user scroll through the page (unless the user clicks and hold down the middle mouse button and moves the mouse up or down).

[2015-05-28 23:47] CaseyDengler opened #132 "Graphs aren't getting new information (don't know if intentional)"
Steps:
1) Log into Omni
2) Go to Fridge
3) Open up the rules section
4) Click on "Simulate low temperature" or "Simulate high temperature" (depending on current temperature)
5) Observe the graph and table

Occurs:
Nothing changes and there's been no new information for a number of days now. I suspect that this is intentional, but just want to make sure.

[2015-05-28 23:59] CaseyDengler opened #133 "Rules seem to only save up to two separate items at a time"
Steps:
1) Log into Omni
2) Go to Fridge
3) Chang the temperate threshold for Y-Hata, then the other two individual devices
4) Check back on the tempterate threshold for Y-Hata again

Occurs:
The rules for Y-Hata are set back to the defaults, claiming that no rules where ever put into place.
![getting rules error](https://cloud.githubusercontent.com/assets/12438510/7873725/e4dbb7d2-055a-11e5-87e8-a

[2015-05-29 06:09] Rahul-Silicon commented on #124
Same issue in iPad also.

[2015-05-30 04:25] CaseyDengler opened #134 "Rules do not save on site level"
Steps:
1) Log into Omni
2) Go to Test Fridge
3) Open up rules for Default Site
4) Change the rules
5) Click on "Save Rules"
6) Open up rules for Default Site again

Occurs:
The rules are not saved and the web page claims that there were no rules added in, giving the user the default rules instead.

[2015-05-30 04:29] CaseyDengler opened #135 "Test Tanks has no devices"
Steps:
1) Log into Omni
2) Go to "Test Tanks"

Occurs:
The page is bare of any information related to devices. The user is also unable to interact with the page itself.
![no devices](https://cloud.githubusercontent.com/assets/12438510/7895550/c44113ce-0649-11e5-995c-1429d3be9e6f.png)

[2015-05-30 04:40] CaseyDengler opened #136 "Simulations don't appear to be working for Test Fridge and Traps"
Steps:
1) Log into Omni
2) Impersonate Test Fridge
3) Click on the rules for an individual device
4) Add your number to the Additional Phone Numbers list
5) Click on Save Rules
6) Open rules back up
7) Simulate High Temperatures
8) Save Rules again
9) Observe data table and graph

Neither the graph nor the table show any change. No information is put on the graph and the table always says that the

[2015-06-02 16:40] davroth opened #137 "UI - use tab paradigm rather than carousel control"
use of a tab control to display graphs, maps, etc would allow us to label each tab and make it easier for a user to know what the options are.

the scrolling paradigm of the carousel seems more suited for things like news sites where the pane contents change

[2015-06-02 16:42] davroth opened #138 "UI - allow user to specify default pane"
Some users may prefer to have their dashboard come up displaying the graph by default while others may prefer to see the map.

In best of all worlds, NetTelligence would have an account default and then allow individual users to override that default w/ their own personal selection for default

[2015-06-02 16:46] davroth opened #139 "UI - allow users to enter lat/lon for devices"
Since we provide a map view of devices, it should be straightforward for a user to enter GPS coordinates for each device.

If a device transmits geographic coordinates, then those should be used. If not, we would allow them to transfer data from a GPS device to NetTelligence as entry of lat/lon w/ precision is potentially mistake prone. Minimally, we should allow them to type in geo coordinates to

[2015-06-02 17:39] davroth opened #140 "Staging site - anonymous login hangs"
Not sure if anonymous logins have been disabled, but the user experience results in a hung system:
1. After having logged out of NetTelligence, browse to http://omnistaging.azurewebsites.net using IE 11 on Windows 8.1
2. Login dialog is displayed
3. Click "Sign-in" button w/ entering username/password

Expected - either login and display all accounts available OR fail w/ "Unknown username/password

[2015-06-02 17:48] christopherdude opened #141 "Uniqueness of login / username"
Uniqueness of login / username

[2015-06-02 17:51] davroth opened #142 "Unhandled exception after clicking Omni hyperlink on dashboard"
1. Browse to http://omnistaging.azurewebsites.net/emp
2. Login as Samuel@samba.com using registered password
3. view dashboard
4. click Omni icon - hover text says "Stop impersonation and return to home page"

Expected - return to page that lists available accounts

Actual - Error message below
          Exception of type 'System.Web.HttpUnhandledException' was thrown.

[2015-06-02 17:53] davroth commented on #142
May be related to #109

[2015-06-02 18:21] davroth commented on #66
use 20.7123° N, 156.1548° W, 20.7121° N, 156.1548° W, 20.7122° N, 156.1548° W
 20.7123° N, 156.1547° W, 20.7121° N, 156.1547° W, 20.7122° N, 156.1547° W
 20.7123° N, 156.1549° W, 20.7121° N, 156.1549° W, 20.7122° N, 156.1549° W
 20.7124° N, 156.1549° W, 20.7125° N, 156.1549° W, 20.7126° N, 156.1549° W
 20.7124° N, 156.1547° W, 20.7125° N, 156.1547° W, 20.7126° N, 156.1547° W

[2015-06-02 19:01] davroth opened #143 "Newly created account - can't edit region labels"
1, Browse to http://omnistaging.azurewebsites.net/emp and click "add new account"
2. Add account and user
3. Return to http://omnistaging.azurewebsites.net/emp and click on the newly created account
4. Dashboard is displayed

Expected - able to click on "region" labels (e.g., "Checking Change") to change the label

Actual - can't do that

[2015-06-02 19:04] #26 closed, assigned to danomni

[2015-06-02 19:06] patrickomni commented on #45
Fixed by no async

[2015-06-02 19:06] #45 closed, assigned to patrickomni

[2015-06-02 19:07] #47 closed, assigned to nobody

[2015-06-02 19:14] patrickomni commented on #79
Should be fixed (Chris says 1 more donut if not)

[2015-06-02 19:15] patrickomni commented on #80
If it's a hard fix, punt

[2015-06-02 19:18] patrickomni commented on #82
Drop < > on items with only one thingee in the carousel

[2015-06-02 19:23] patrickomni commented on #113
Find this dupe and close

[2015-06-02 19:26] patrickomni commented on #125
This is a duplicate. Find it and close this one.

[2015-06-02 19:27] patrickomni commented on #126
By design.

[2015-06-02 19:28] patrickomni commented on #127
default to 12 hour for now

[2015-06-02 19:32] patrickomni commented on #131
For now, add scroll bars to the list of devices.

[2015-06-02 19:34] patrickomni commented on #132
I'll remove simulate for anyone except Omni (resellers)

[2015-06-02 19:35] patrickomni commented on #133
this should be fixed.

[2015-06-02 19:37] patrickomni commented on #135
this is true

[2015-06-02 19:38] patrickomni commented on #140
fixed

[2015-06-02 19:40] patrickomni commented on #143
check with and without Dave's login

[2015-06-02 19:45] davroth opened #144 "Device management - need documentation"
Add, modify, delete devices in existing accounts

[2015-06-02 19:53] davroth commented on #142
fixed

[2015-06-02 19:53] #142 closed, assigned to davroth

[2015-06-02 19:55] davroth commented on #85
fixed

[2015-06-02 19:55] #85 closed, assigned to davroth

[2015-06-02 20:02] davroth commented on #75
fixed

[2015-06-02 20:02] #75 closed, assigned to davroth

[2015-06-02 20:08] davroth commented on #43
Using IE 11 and Windows 8.1, I see all results expected:
- 2 lines on graph when 2 of 2 devices are selected;
- 1 line on graph when 1 of 2 devices are selected
- "no data to display" when 0 of 2 devices are selected

It is true that when switching from 0 devices selected to 1 device selected - the system briefly displays a line graph that is quickly erased/replaced by the correct graph. The brief

[2015-06-02 20:08] #43 closed, assigned to davroth

[2015-06-02 20:57] davroth commented on #5
Add hover text for the "Alert" symbol

[2015-06-02 21:16] CaseyDengler commented on #140
Sort of fixed.
The site doesn't hang anymore, but the user is brought to an nearly black page aside from the frame work for devices and graphs.
![no sign in blank page](https://cloud.githubusercontent.com/assets/12438510/7947402/c12813be-0931-11e5-9ca0-2ea9a069c441.png)

The user should either be given a list of users to impersonate or edit (from before for testing), or the site just says that it'

[2015-06-02 21:18] davroth commented on #121
Geo-fence management
    Authorized users can CRUD one or more geo-fences for their account
    User input -
        lat/lon OR street address as center point
        geo-fence type - circle OR rectangle (rectangle is pri 2; can be deferred)
        radius OR rectangle length/width (len/wid is pri 2)
        friendly name for geo-fenced area

Geo-fence rules
    Authorized users can CRUD rules usi

[2015-06-02 21:21] #134 closed, assigned to CaseyDengler

[2015-06-02 21:25] davroth opened #145 "Asset route tracking"
Store all reported GPS locations
    User input - toggle collection of reported GPS locations; if ON, then store device id, GPS location,
    date/time stamp

Display route using GPS locations
    User input -
        select device OR geo-fence area
        specify start/end times to animate
    System display: for each selected device w/in a geo-fenced area, incrementally build a route by

[2015-06-02 21:30] CaseyDengler commented on #110
We might need a more intuitive way for people to see the difference between the site rules and the device rules.

Ideally, we want the rules for all devices to fall under the site rules unless the user specifies otherwise. As of now, there isn't a way for the user to specify which rules to use, let alone know which rules are in action.

Overall, we might need some more work on the UI for the rules

[2015-06-02 21:35] CaseyDengler commented on #79
I guess it's a bakers dozen then.
![donuts](https://cloud.githubusercontent.com/assets/12438510/7947813/4f5a3976-0934-11e5-8820-0d38f1cbbcdb.png)

Also, I'm a bit locked out of omni for IE at the moment, so if you can't find the bug, check on Chrome.

[2015-06-02 22:15] davroth opened #146 "Self-service pest control - scoping questions"
• How many gateways do you have? How often do the gateways move?
This will help us understand whether Omni can continue to manage devices for our customers or whether we’ll need to provide a device mgmt UI
• How many technicians and/or users will you have for NetTelligence?
While users have capability to create their own users today, we may need to put a bit of polish on this interface
• When a te

[2015-06-02 22:35] patrickomni commented on #140
This is because there was a user of name blank name and blank password.  Let's stop adding these until we fix the over all.

[2015-06-02 22:35] #140 closed, assigned to patrickomni

[2015-06-02 23:17] patrickomni commented on #135
AHA!!!!! The device was there, but the tank was not :)

[2015-06-02 23:49] #135 closed, assigned to CaseyDengler

[2015-06-02 23:53] CaseyDengler commented on #133
It's fixed on the site level, however individual devices still get set back to their defaults.

[2015-06-02 23:56] CaseyDengler commented on #125
Duplicate of Issue #86

[2015-06-02 23:56] #125 closed, assigned to CaseyDengler

[2015-06-03 00:01] CaseyDengler commented on #113
Duplicate of issue #108

[2015-06-03 00:01] #113 closed, assigned to CaseyDengler

[2015-06-03 00:01] CaseyDengler commented on #108
Also freezes on iPad safari according to issue #133

[2015-06-03 00:05] CaseyDengler commented on #126
Odd design, could cause issues. Should discuss later.

[2015-06-03 00:33] CaseyDengler opened #147 "Test Tanks graph key has both devices labeled as "Tank 1""
Steps:
1) Log into Omni
2) Impersonate "Test Tanks"
3) Observe the graph

Occurs:
The graph seems to believe that both devices are labeled as "Tank 1"
![test tanks graph miss named key](https://cloud.githubusercontent.com/assets/12438510/7950296/47640eae-094d-11e5-9379-b33ef869624f.png)

Expected:
The key refers to Tank 1 and Tank 2 respectively.

[2015-06-03 00:39] CaseyDengler opened #148 "Graph keys disappear when saving rules"
Steps:
1) Log into Omni
2) Impersonate "Test Fridge"
3) Open up the site rules
4) Click on "Save rules"
5) Observe graph

Occurs:
The key for the graph seems to disappear
![test fridge graph miss named key](https://cloud.githubusercontent.com/assets/12438510/7950341/2d2c6850-094e-11e5-85f1-c57a56c0b7eb.png)

Expected:
Key stays intact

[2015-06-03 02:27] patrickomni commented on #136
Casey please validate my fix

[2015-06-03 02:28] patrickomni commented on #133
this might be a dupe of one already on chris

[2015-06-03 02:29] patrickomni commented on #132
This has nothing to do with simulation.  Assigning to Chris

[2015-06-03 02:30] patrickomni commented on #104
It does, now, but only if it needs one (ie. 3   or 3.1).

These won't show up in the sempra data until new data comes in

[2015-06-03 02:31] patrickomni commented on #129
Probably a dupe of the other related to this

[2015-06-03 02:31] patrickomni commented on #103
Fixed

[2015-06-03 02:32] patrickomni commented on #93
if it works tonight, i'll keep it

[2015-06-03 02:32] patrickomni commented on #78
sproc already expects days

[2015-06-03 15:53] davroth commented on #143
Still can't edit labels on Samba. Tried creating another Test Account (in Refrigeration again) and got same failure. Picture below shows single word highlighted after doubleclicking

![Uploading Capture - label edit.PNG…]()

[2015-06-03 15:54] davroth commented on #143
![capture - label edit](https://cloud.githubusercontent.com/assets/12534533/7964712/1e968ed0-09ce-11e5-820f-9500475d22f2.PNG)

[2015-06-03 16:21] davroth opened #149 "Label edit - bubble text reports success even when no change has been made"
1. Browse to http://nettelx.azurewebsites.net/login and log in using Patrick's account
2. Select Sempra account
3. Double click label to bring up edit box
4. Exit edit box without making any changes

Actual: bubble saying resource has been successfully changed

Expected: bubble saying "no change has been made"

Not a high priority, but part of fit/finish

[2015-06-03 20:00] davroth opened #150 "Support Sendum PT300 sensor properties"
PT300 provides additional data that may be of interest to customers about location, environmental conditions (temp, relative humidity, barometric pressure), care/handling (motion, shock, vibration, orientation), and light sensors. If/when we want to establish relationships with customers who need these properties, we will need to surface data in NetTelligence including (as appropriate) rules, aler

[2015-06-03 20:10] davroth commented on #93
i am able to successfully click simulation button and the bubble message tells me the simulation was successful, but since i'm out of cell range here, i don't know whether SMS alerts are actually being sent.

Also I'm not sure whether that data is supposed to show up on the graph or in Recent Alerts. If data is expected to cause graph to refresh or alerts pane to refresh, then that's not working.

[2015-06-03 23:24] CaseyDengler opened #151 "Recent alerts table disappears after refreshing Test Traps"
Steps to reproduce:
1) Log into Omni
2) Impersonate Test Trap
3) Refresh the page

Occurs:
The Recent Alerts table at the bottom disappears and a message pops up saying, "There was an error loading the dynamic visualization table. There is data but it is not being shown. Please refresh the page and try again."
![error loading dynamic visuals](https://cloud.githubusercontent.com/assets/12438510/797

[2015-06-03 23:31] CaseyDengler opened #152 "State for traps always reads as "Triggered" and never "Armed""
Steps:
1) Log into Omni
2) Impersonate Test Traps
3) Go to rules for any device
4) Simulate Trap Armed

Expected:
The "State" section of the table should change from "Triggered" to "Armed"

Occurs:
The device(s) stay as "Triggered" and seem to ignore the simulation.

Note: It's possible that this is from the simulations not acting properly.

[2015-06-03 23:39] CaseyDengler commented on #152
Turns out it just takes a long while for the information to go though, never mind.

[2015-06-03 23:39] #152 closed, assigned to christopherdude

[2015-06-03 23:46] CaseyDengler opened #153 "Trap simulations not working properly"
Just two things:
- Both devices "Time" section always reads the same, even if only one device was changed from simulations, the other would act as if it was also updated.
  reproduce:
- Devices take a long to sent information out and the site does not update until those messages are sent. I'm not sure if this is by design or not

If you need more details on these, just ask.

[2015-06-03 23:48] #103 closed, assigned to CaseyDengler

[2015-06-04 01:53] patrickomni commented on #147
![image](https://cloud.githubusercontent.com/assets/12114620/7975300/bb225344-0a21-11e5-9673-eca13dea3a11.png)

hopefully fixed this time

[2015-06-04 01:54] patrickomni commented on #143
Cannot repro this Casey can you try

[2015-06-04 01:55] patrickomni commented on #93
There is a small issue here in that we should refresh the alert status.  That's an enhancement.   Truly this area is kind of shaky so it is now enabled for Partners only (so we can control the knowns)

[2015-06-04 02:45] patrickomni opened #154 "Need to register www.omnim2m.net cert (i.e. The WWW part)"

[2015-06-04 02:47] #147 closed, assigned to CaseyDengler

[2015-06-04 02:52] CaseyDengler commented on #143
Also cannot reproduce. Used IE 11 and Chrome version 43.0.2357.81. Were you using anything different Dave?

[2015-06-04 03:34] patrickomni opened #155 "Error comes up on ScenarioView on https://omni.net vs omni.staing"
Login in https://omnim2m.net

select anyone and go to any sv page

![image](https://cloud.githubusercontent.com/assets/12114620/7976444/ede3b6c0-0a2f-11e5-8890-ce906ffb7b9f.png)

[2015-06-04 03:35] patrickomni commented on #155
Perhaps you are fixing this already..

webMethods/ScenarioViewService.svc/GetDeviceTableData

[2015-06-04 03:45] patrickomni commented on #86
Fixed

[2015-06-04 07:32] christopherdude commented on #154
Visiting https://www.omnim2m.net/ (with the S in httpS) SHOULD bring you to a valid https://omnim2m.net/ page (like login) WITHOUT the WWW, maintaining the https, and no complaints about a certificate now.

[2015-06-04 07:34] christopherdude commented on #155
I'm not seeing this error in the latest build, although I am seeing it online.  Please check this one again.  I'm leaving a note here JUST IN CASE this is an SSL issue reminder.

[2015-06-04 07:36] christopherdude commented on #151
I'm not seeing this with the latest build, although please view notes on bug #155 just in case it's an SSL thing.

[2015-06-04 07:51] christopherdude commented on #148
This was an excellent catch.  I've re-done the JS to accommodate now.  'Twas a little difficult to nail down.

[2015-06-04 07:53] christopherdude commented on #133
I'm not seeing this occur in dev.  Perhaps already fixed by SQL stuff?

[2015-06-04 07:55] christopherdude commented on #132
Pat, should I put in a graph refresh upon closing the modal at all times?  Would that solve this bug?

[2015-06-04 08:41] christopherdude commented on #131
This is a really, really, really ugly bug.  It's going back to the Google Maps API loading issue.  I've spent a lot of time in InitializeMap(), LoadAfterGoogleLoaded(), and RefreshMapAsNeeded() javascript methods trying to nail this down.  I'm 98% sure this is a Google maps reload issue.  In the interest of getting other bugs resolved, I'm going to move on from this one and come back.

[2015-06-04 08:56] christopherdude commented on #130
Fixed... hopefully didn't screw something else up.  If so, the change was in LoadPage() method in JS, $("#cboItemDetailsNumberOfDays").val(numberOfDays);

[2015-06-04 09:21] christopherdude commented on #129
Added the script ReloadApplicationJs key to the MyModalRulesSettings_RulesSaved event.  Now reloads the application.js so that the script initialization for circle graphs reloads upon ajax callbacks.

[2015-06-04 09:29] christopherdude commented on #127
Put in an entirely new JS function called getClockTime(x) which takes a dateTime and converts it to the correct time.

[2015-06-04 14:23] davroth commented on #143
hmmm - using IE 11 and it's working now; closing bug

[2015-06-04 14:23] #143 closed, assigned to davroth

[2015-06-04 15:44] patrickomni commented on #155
It's totally an SLL only issue (webmethod  webservice call back)

[2015-06-04 16:15] davroth commented on #139
For the next iteration, we're going to need to accept street address as input too (Tech sets trap at customer location), so should consider that when implementing this feature.

Think about picking up location details from other app's/sources like mobile phone GPS location and/or scanning barcode w/ address

[2015-06-04 16:45] davroth commented on #78
Is this still a problem?

[2015-06-04 16:51] davroth commented on #80
Still an issue?

[2015-06-04 16:56] davroth commented on #86
This is still a problem - but i think we can defer this to next iteration
1. Browse to site using IE 11 on Windows 8.1 & select Sempra to impersonate
2. view landing page w/ map and arrow controls on carousel
3. Click arrow controls, left, then right

Expected: pane scrolls w/ message saying "no data" OR arrow controls disabled

Actual: arrow controls shown as hyperlinks but nothing happens

[2015-06-04 16:58] davroth commented on #104
Close?

[2015-06-04 17:05] davroth commented on #108
fix in V1

[2015-06-04 17:16] davroth commented on #110
1. Browse to staging site using IE 11, Windows 8.1, log in as patrick, select Test Fridge
2. Click global rules icon for "latest device status", see expected popup about no results, select Test Fridge user, click save rule, and get "success" bubble
3. Click Fridge 2, see expected popup about no rules for this device, select Patrick Fridge user, click save rule, and get "success" bubble
4. Click gl

[2015-06-04 17:19] davroth commented on #127
fixed

[2015-06-04 17:19] #127 closed, assigned to CaseyDengler

[2015-06-04 17:20] davroth commented on #129
fixed

[2015-06-04 17:20] #129 closed, assigned to CaseyDengler

[2015-06-04 17:21] patrickomni opened #156 "When sending a rule through the 2nd time with the same simulation, two rows are sent to be processed instead of one."

[2015-06-04 17:23] davroth commented on #131
Fix in V1; site needs to work for Sempra, and they will require scrolling

[2015-06-04 17:26] davroth commented on #132
Simulation only available for partners, so move out from V1
Open question: do we want simulation to show up as real data OR do we want Omni to "eat" simulation messages?

[2015-06-04 17:28] davroth commented on #133
Related to #110 ; fix in V1

[2015-06-04 17:32] davroth commented on #136
Related to #132 - move to next iteration and determine whether we even want simulation msgs to display on graph

[2015-06-04 17:36] davroth commented on #148
fixed - could not repro w/ IE 11, Windows 8.1 when testing w/ Reisner and Omni Refrigeration

[2015-06-04 17:36] #148 closed, assigned to CaseyDengler

[2015-06-04 17:37] davroth commented on #151
no repro w/ IE 11, Windows 8.1

[2015-06-04 17:37] #151 closed, assigned to CaseyDengler

[2015-06-04 17:39] davroth commented on #153
Related to #132, #136; Move to next iteration

[2015-06-04 17:41] davroth commented on #154
works properly w/ IE 11 and Windows 8.1

[2015-06-04 17:41] #154 closed, assigned to CaseyDengler

[2015-06-04 17:43] davroth commented on #155
Repro's on https://omnistaging.azurewebsites.net/sv, IE 11, Windows 8.1; fix in V1

[2015-06-04 20:47] davroth opened #157 "Set device properties for Sendum devices"
At some point in self service, Omni should provide ability to manage Sendum devices from w/in the Omni UI. Let's consider this for Go-Live V3, moving out if it isn't needed by Eastside and Paratex

This will require ability to:
1. Understand properties/capabilities available in each device
2. Omni UI that displays available properties as well as the possible states each property and the overall se

[2015-06-04 21:51] CaseyDengler commented on #130
Looks good

[2015-06-04 21:51] #130 closed, assigned to CaseyDengler

[2015-06-05 13:16] davroth opened #158 "Graph - time indicators not aligned with user's time zone (GMT?)"
1. Browse to http://omnim2m.net using IE 11 and Windows 8.1, login using Patrick's account
2. Select Test Fridge
3. Observe landing page graph

Expected - time markers along x-axis aligned to my time zone

Actual - time markers for the future (which is fine) but are shown having occurred at times that haven't happened here yet. Appears to be GMT.

If it is much work to align graph time by user set

[2015-06-05 13:18] davroth commented on #158
this time w/ highlighting...
![capture - graphtimezone](https://cloud.githubusercontent.com/assets/12534533/8006676/bc4a9644-0b4a-11e5-8e69-f19df738dd7b.PNG)

[2015-06-05 13:23] davroth commented on #155
Repro's on https://omnim2m.net/sv IE 11, Windows 8.1

[2015-06-05 13:33] davroth commented on #66
Still have one lollipop in the ocean...

![capture - lollipop in ocean](https://cloud.githubusercontent.com/assets/12534533/8006917/c2e86b6e-0b4c-11e5-9ae8-2bef776d900d.PNG)

[2015-06-05 13:52] davroth commented on #133
There still appears to be a problem w/ rules on new site using IE 11 and Win 8.1:
1. Click Test Fridge
2. Check rule at "global" level, observe Patrick Fridge set to receive alerts
3. Click Fridge 1, observe Patrick Fridge shown as receiving alerts, click Test Fridge to receive alerts too
4. Click rule at "global" level again

Expected: global rule only shows Patrick Fridge

Actual: Test Fridge al

[2015-06-05 13:59] davroth commented on #78
I think we can move this to V2 where it needs to be fixed to help customers who have large numbers of devices (thinking Eastside w/ 300 traps where they may want to filter by location or ??

For this release, we doc this as a feature - the Alert box, which has been moved off the carousel, shows all active alerts...

[2015-06-08 13:32] davroth commented on #133
Behavior has changed, but still can only save 1 rule
1. Click Test Fridge
2. Check rule at "global" level, observe no rules set
3. Select Patrick Fridge to receive alerts, click save rule, see success bubble
4. Click Fridge 2, notified no rules exist
5. Select Test Fridge to receive alerts, click save rule, see success bubble
6. Click rule at "global" level

Expected: see old rule w/ Patrick Fridg

[2015-06-08 13:35] davroth commented on #110
Closing this because it's duplicate of #133

[2015-06-08 13:35] #110 closed, assigned to christopherdude

[2015-06-08 13:36] davroth commented on #104
Fixed

[2015-06-08 13:36] #104 closed, assigned to CaseyDengler

[2015-06-08 13:37] davroth commented on #66
fixed

[2015-06-08 13:37] #66 closed, assigned to CaseyDengler

[2015-06-08 15:45] patrickomni commented on #158
Just fiexd this, this morning  I cleared out Cowden which should now show latest.  others will take a few hours.

[2015-06-08 15:57] patrickomni commented on #80
Nope.

[2015-06-08 19:26] christopherdude commented on #108
Fixed!  Check changeset 705

[2015-06-08 20:31] davroth commented on #121
Scenario - a large construction company in the Las Vegas area has recently expanded its business model to rent expensive heavy construction equipment. Their equipment inventory has grown rapidly and now they need a way of knowing whether the equipment is available for rental or assigned to a customer. They want it to be possible to reserve a piece of equipment by setting a start date and end date.

[2015-06-08 20:31] davroth commented on #121
Scenario - a large construction company in the Las Vegas area has recently expanded its business model to rent expensive heavy construction equipment. Their equipment inventory has grown rapidly and they need to accurately track the current location of all equipment. They also want a way of knowing whether the equipment is available for rental or assigned to a customer.

The construction company d

[2015-06-08 23:45] christopherdude commented on #131
I believe I have fixed this - CROSSING FINGERS

[2015-06-09 00:04] davroth opened #159 "Asset location tracking - basic"
Replaces issue #121

SCENARIO - a large construction company in the Las Vegas area has recently expanded its business model to rent expensive heavy construction equipment. Their equipment inventory has grown rapidly and they need to accurately track the current location of all equipment. They also want a way of knowing whether the equipment is available for rental or assigned to a customer.
The co

[2015-06-09 00:04] davroth commented on #121
replaced w/ a new issue that hopefully makes things a bit more clear

[2015-06-09 00:04] #121 closed, assigned to nobody

[2015-06-09 08:18] christopherdude commented on #155
I am hoping that changeset 711 solves this.

HOPEFUL fix for bug 155.  To test, please GET LATEST and PROP and run in https mode.   If you do not see a RED "There was an error:" , or  "There was an error loading the device table data:" on refrigeration, I GOT IT.

[2015-06-09 16:06] davroth commented on #155
no repro using Chrome v43 on Windows 8.1

[2015-06-09 16:06] #155 closed, assigned to patrickomni

[2015-06-09 16:10] davroth commented on #158
Still seeing data for times that have "not happened yet" in my timezone - Chrome v43, Windows 8.1
![capture - graphtimezone1](https://cloud.githubusercontent.com/assets/12534533/8062942/514491ac-0e87-11e5-97b9-eef8a12e03a6.PNG)

[2015-06-09 16:19] davroth commented on #133
Behavior has changed, but rules still not right - could be a dirty buffer (see steps below)
1. Click Test Fridge
   1. Check rule at "global" level, observe Patrick Frdige is receiving alerts, click cancel
2. Select Fridge, see Test Fridge and Patrick Frdige are receiving alerts
3. Un select Patrick Frdige, click save, see success bubble
   5.Check rule at "global" level, observe both Test Fridge

[2015-06-09 16:22] davroth commented on #131
No repro on Chrome v43 and IE 11, Windows 8.1

[2015-06-09 16:22] #131 closed, assigned to CaseyDengler

[2015-06-09 16:23] davroth commented on #108
No repro using Chrome v43, Windows 8.1

[2015-06-09 16:23] #108 closed, assigned to CaseyDengler

[2015-06-09 16:29] davroth opened #160 "Chrome Browser - receive error bubble after clicking label & exiting label edit without changes"
Chrome v43, Windows 8.1
1. Browse to https://omnim2m.net/sv, login as Patrick, select Reisner
2. Select Cowden as sub-site from left drop down
3. Doubleclick a header label to bring up edit box
4. Exit edit box w/o making any changes

Expected: success bubble saying "no changes made"

Actual: error bubble saying "there was an error: undefined"
#80 - closed because symptoms there don't happen any m

[2015-06-09 16:34] davroth opened #161 "Chrome Browser - unable to edit labels"
Chrome v43, Windows 8.1
1. Browse to https://omnim2m.net, login as Patrick, select Reisner
2. Try to edit label

Expected: able to edit label

Actual: no edit box and get error saying "There was an error: undefined"

Putting this in V2 because we can manually edit labels until it is fixed
#160

[2015-06-09 16:35] davroth commented on #161
this also repro's in IE 11; labels are not getting saved. Placed in V2 because we can manually change labels in V1 if needed

[2015-06-09 16:35] davroth commented on #80
No repro Chrome v43, Windows 8.1, but there is a new error

[2015-06-09 16:35] #80 closed, assigned to CaseyDengler

[2015-06-09 16:47] davroth opened #162 "2 error bubbles when browsing to http://omnim2m.net"
1. Login to http://omnim2m.net as Patrick using Chrome v43, Windows 8.1
2. Select Reisner

Expected: screen displayed

Actual: 2 error bubbles (there was an error loading the device table: undefined; there was an error: undefined)
#155

[2015-06-09 16:49] patrickomni commented on #158
Chris: in sp_ExecProcessingIncomingData, the date is set based upon the InsertDate, and the GPS coordinate of the Device.  The GPS Coordinate of the device is either delivered by the device, or healed by the sp_ExecProcessingIncomingData using the LastKnownGeoLoc on the DeviceInventory table.   The InsertDate / (MessageDate?) is then updated by the sql function (you'll see the call in sp_ExecProce

[2015-06-09 16:51] patrickomni commented on #156
There are no longer two rows being processed, though there could be two messages being written.

This would be done in RulesProcessing but the daAlerts.Update() function.   Set a break point here and examine what is being written.

[2015-06-09 16:52] patrickomni commented on #133
I think this is by design, though the design may not be right.  Let's review

[2015-06-09 20:21] danomni opened #163 "Error Messages Shown Selecting From Dropdown On Pest"
Steps To Recreate:
1. Impersonate 'Sempra / Marie Van Zandt' account

![screen shot 2015-06-09 at 12 47 28 pm](https://cloud.githubusercontent.com/assets/10458099/8068710/737a1b16-0eaa-11e5-8eaa-cdf607224996.jpg)

[2015-06-09 20:23] danomni opened #164 "Pest Scenario Not Showing Data In Alert Toolbar"
Steps To Recreate
1. Go to 'Sempra Energy / Marie Van Zandt'
2. Select '--2' from 'Stations' dropdown

Expected Result:
Multiple messages, alerts, and 6 devices

Actual Result:
None Shown
![pest station device bug](https://cloud.githubusercontent.com/assets/10458099/8068748/bfab9050-0eaa-11e5-8ef5-35badd89ec3a.jpg)

[2015-06-09 20:49] christopherdude commented on #156
I think we just fixed this

[2015-06-09 21:19] danomni commented on #163
This was at http site and not https

[2015-06-09 21:19] #163 closed, assigned to nobody

[2015-06-09 21:33] patrickomni commented on #133
I didn't understand this before.  This is fixed now

[2015-06-09 22:59] davroth commented on #133
1. Browse to https://omnim2m.net, log in as Patrick, select Test Fridge
2. Click "global" rules; observe that Patrick Frdige is set to receive alerts; click cancel
3. Click Fridge 1; clear notification that no rules are set; select Test Fridge to receive alerts, save rule, and observe success bubble
   4.Select "global" rules

Expected - Patrick Frdige set to receive alerts

Actual - getting rules

[2015-06-09 23:02] davroth commented on #164
fixed w/ new build; no repro w/ IE 11 and Chrome 43

[2015-06-09 23:02] #164 closed, assigned to nobody

[2015-06-10 00:42] patrickomni commented on #162
Try again, this was the same as not being redirected to https. fixed.

[2015-06-10 02:52] christopherdude commented on #133
Fixed

[2015-06-10 14:00] davroth commented on #162
redirect in place

[2015-06-10 14:00] #162 closed, assigned to davroth

[2015-06-10 15:31] davroth commented on #133
able to save rules at global and device level w/o interference

[2015-06-10 15:31] #133 closed, assigned to CaseyDengler

[2015-06-10 15:41] davroth opened #165 "Alert rules - seem to be caching too much data"
Related to #133

From: Patrick Dengler [mailto:patrick@omnim2m.com]
Sent: Wednesday, June 10, 2015 8:05 AM
To: 'Dave Rothenberg'; 'Chris Dengler'
Subject: Rules bug that resurfaced

Either Chris you are caching the RuleId too much, or one or both of us have 297 hard coded into our stuff (but I could not find the latter and don’t think that’s the issue).

We need to protect against this any way in

[2015-06-10 22:00] christopherdude commented on #158
Guys, I am seeing the Omni Refrigeration / Dan Clem data as the last data point registered at 2:00:31 and it's 2:59 here right now.. This particular one checks in every 2 hours, so I'll see if I have a registered measurement in one hour from now.  If so, this may be fixed.

[2015-06-10 22:39] davroth commented on #158
fixed now

[2015-06-10 22:39] #158 closed, assigned to christopherdude

[2015-06-10 22:44] danomni opened #166 "Data Inaccurate Or Behind In New System"
I compared the live system to the omnim2m.net system and noticed that the Reisner tank scenario was showing inaccurate data, specifically, the graph looks like it is a few hours off on the new system from the live system.

Screenshots attached

![screen shot 2015-06-10 at 3 42 16 pm](https://cloud.githubusercontent.com/assets/10458099/8096020/99088d94-0f87-11e5-8d06-fc5fd56b3cc0.jpg)
![screen shot

[2015-06-10 23:33] davroth commented on #156
confirmed by Chris to have been fixed

[2015-06-10 23:33] #156 closed, assigned to patrickomni

[2015-06-11 15:27] davroth opened #167 "Alert rules - seem to be caching too much data"
Related to #133

From: Patrick Dengler [mailto:patrick@omnim2m.com]
Sent: Wednesday, June 10, 2015 8:05 AM
To: 'Dave Rothenberg'; 'Chris Dengler'
Subject: Rules bug that resurfaced

Either Chris you are caching the RuleId too much, or one or both of us have 297 hard coded into our stuff (but I could not find the latter and don’t think that’s the issue).

We need to protect against this any way in

[2015-06-11 15:28] davroth commented on #166
Need to look at this - could just be an anomaly, but best to check...

[2015-06-11 16:13] davroth opened #168 "Impersonation screen - unclear algorithm for selecting user for each account"
Should the person to be impersonated for an account be the site admin?

On https://omnim2m.net/emp, logged in as Patrick, there are 11 accounts. Reisner account has Dan Averill, registered as account admin, displayed as the person to be impersonated while Sempra has George Akua, registered as a basic user in the account, displayed.
1. browse to https://omnim2m.net using chrome v43, windows 8.1 and

[2015-06-11 16:52] davroth opened #169 "Graph data inconsistency between 3 day view and 24 hr view"
The 24 hr view of data for Cowden reports no data from selected devices for the specified time period while the 3 day view appears to show data during that period.
1. Browse to https://omnim2m.net, Chrome 43, Windows 8.1, login as Patrick, click Reisner
2. Observe message on Timeline saying no data for selected device(s) during time period which defaults to 24 hrs
3. Switch view to 3 days and obse

[2015-06-11 17:36] davroth commented on #169
Using https://omnim2m.net, chrome 43, windows 8.1, logged in as Patrick, and looking at Reisner account at 10:20 AM on 6/11, I see the folllowing:
• No data message for last 24 hrs (I assume this means no data since 10:20 AM on 6/10)
• Last 3 days – last report 6/10, 02:39:37 PM, 1588 gallons AND 1717 gallons
• Last 30 days -  last report 6/10, 02:38:37, 1717 gallons AND 1588 gallons

Per “time ar

[2015-06-11 19:11] danomni opened #170 "Reisner Map Shows Tank Location Off Coast Of Africa"
![screen shot 2015-06-11 at 12 09 05 pm](https://cloud.githubusercontent.com/assets/10458099/8115816/e0609dd4-1032-11e5-93b2-e361b2c07958.jpg)

[2015-06-12 00:16] christopherdude commented on #170
This looks ok

[2015-06-12 00:17] christopherdude commented on #169
I think this looks good

[2015-06-12 00:18] davroth commented on #170
looks good ib inbun2n,net - not sure where Africa came from

![capture - cowden tank location](https://cloud.githubusercontent.com/assets/12534533/8121250/cf95bbe4-105d-11e5-8f0a-4eb4b09380bf.PNG)

[2015-06-12 00:18] #170 closed, assigned to nobody

[2015-06-12 00:19] davroth commented on #169
not repro'ing now, same "relative" data for 24 hr, 3 day, 30 day

[2015-06-12 00:19] #169 closed, assigned to nobody

[2015-06-12 03:53] #166 closed, assigned to patrickomni

[2015-06-12 04:11] davroth opened #171 "Alerts - Group Level throttling"
Group level alerts use case –Y Hata wants to receive a single notification when a ship with 100 of their containers approaches port.
o   Req’t – Omni needs to be able to throttle group alerts to prevent flooding of alerts when an event occurs to many assets at the same time

[2015-06-12 04:12] davroth opened #172 "Alerts - notification of "inattention" to alert"
Use case - Sempra wants to be notified if an alert is still being reported (e.g., has not been cleared) after 1 day.
o   Req’t ability to have a time out value on an alert

[2015-06-12 06:42] davroth commented on #159
SCENARIO - a large construction company in the Las Vegas area has recently expanded its business model to rent expensive heavy construction equipment. Their equipment inventory has grown rapidly and they need to accurately track the current location of all equipment. They also want a way of knowing whether the equipment is available for rental or assigned to a customer.
The construction company de

[2015-06-14 16:51] davroth opened #173 "Sempra landing page - what does "Total Messages" mean?"
The "Total Messages" box number increments (just went from 30 to 31), but it is difficult to reconcile that movement w/ other data shown on the screen - the alerts column (designated by the triangular icon in the Summary grid) shows a total of 36 messages - and w/ Caldera site which does not show any messages since 12-Jun using this URL - http://calderadev.server289.com/trapnet/show_reports.php?&s

[2015-06-15 17:56] davroth opened #174 "Asset location tracking - basic"
SCENARIO - a large construction company in the Las Vegas area has recently expanded its business model to rent expensive heavy construction equipment. Their equipment inventory has grown rapidly and they need to accurately track the current location of all equipment. They also want a way of knowing whether the equipment is available for rental or assigned to a customer.
 The construction company d

[2015-06-15 17:56] davroth commented on #159
replaced by #174

[2015-06-15 17:56] #159 closed, assigned to nobody

[2015-06-15 18:06] davroth opened #175 "Reisner UI - what does "Live data" selection in Timeline represent?"
Getting message there is no data for the selected device(s) for the specified time period, while the 24 hr chart shows message having been received at 9 AM of same day. What's up?

![capture - live data](https://cloud.githubusercontent.com/assets/12534533/8166744/97837090-134e-11e5-9698-4fea09316cc1.PNG)

[2015-06-15 18:21] davroth commented on #173
Reisner messages box doesn't seem to reconcile w/ grid below - count is zero in messages box while grid shows a recent message:

![capture - message count](https://cloud.githubusercontent.com/assets/12534533/8167056/995d7ee0-1350-11e5-8825-e80df69243bd.PNG)

[2015-06-16 02:00] davroth opened #176 "Reisner landing page - at-a-glance Messages box shows 0 messages but grid shows a recent message"
1. Browse to omnim2m.net using Chrome 43, Windows 8.1, login as Patrick , select Reisner
2. View left side of landing page

Actual - Messages box in "at-a-glance " line does not match data in Summary grid below

Expected - able to reconcile the counts

![capture - message count](https://cloud.githubusercontent.com/assets/12534533/8174378/b8e379e6-1390-11e5-834f-cd039d0e0468.PNG)

[2015-06-16 02:11] davroth opened #177 "Sempra - Summary grid line items don't always display date/time"
1. Browse to omnim2m.net using Chrome 43, Windows 8.1, login as Patrick, select Sempra/Marie to impersonate
2. Observe items in Summary grid

Expected: all lines have date/time stamp

Actual: several items do not have a date/time stamp

![capture- datetime missing](https://cloud.githubusercontent.com/assets/12534533/8174514/455c8010-1392-11e5-906d-b3f1095fba3b.PNG)

[2015-06-16 15:07] davroth commented on #177
Reisner summary grid is displaying times, so there is some difference?
![capture -reisnergrid](https://cloud.githubusercontent.com/assets/12534533/8186364/b71ad8de-13fe-11e5-8bd8-17a0586313db.PNG)

[2015-06-16 15:10] davroth commented on #167
#165

[2015-06-16 15:10] #167 closed, assigned to nobody

[2015-06-16 15:11] davroth commented on #161
no repro

[2015-06-16 15:11] #161 closed, assigned to nobody

[2015-06-16 15:12] davroth commented on #160
Behavior now says "successfully changed" after exiting label edit w/ no change. We can live w/ this...

[2015-06-16 15:14] davroth commented on #132
May be design issue - are simulations intended to show on graphs?
From customer perspective, we don't want them to show...
Leaving in V2 so we can figure out the design issue

[2015-06-16 15:18] davroth opened #178 "Adding user - how do we delete user?"
1. log on to omnim2m.net using Chrome 43, Windows 8.1, log in as Patrick
2. click edit adjacent to Reisner on impersonation page
3. Add a user

Expected - ability to delete/remove that user

Actual - the only way to remove the user appears to be to clear data in each box. We really should include a "delete" button
#119

[2015-06-16 15:21] davroth commented on #86
no repro

[2015-06-16 15:21] #86 closed, assigned to patrickomni

[2015-06-16 15:22] davroth commented on #78
no repro

[2015-06-16 15:22] #78 closed, assigned to christopherdude

[2015-06-16 19:45] danomni opened #179 "Time Zone Incorrect For Sempra Scenario"
All time stamps are in UTC

[2015-06-16 19:53] christopherdude commented on #178
Currently the only way to "remove" a user is to disable them.

[2015-06-16 20:01] christopherdude commented on #175
I believe this has to do with how far back our LIVE data goes.  For example, let's say that it's currently 10:00 AM, but the last data point was at 9:00 AM.  And our live data goes back 15 minutes.  Well, 15 minutes ago it was 9:45 and there was no data between 9:45 AM and 10:00 AM.  So, while the display is correct, there may be a different business decision upon what to show.

[2015-06-16 20:04] christopherdude commented on #173
I believe this to be correct, but misunderstood.  I'm going to let Pat answer this one, as I don't think it's a show-stopper.  MESSAGES are (what I believe) alerts at StatusID=1, where ALERTS are StatusID=2.

[2015-06-16 20:06] christopherdude commented on #165
Dave is this closed then?

[2015-06-16 20:17] christopherdude commented on #168
Check sp_GetAccounts part where it says:  "...where ParentAccountId = @AccountId".  Marie Van Zandt has a ParentAccountId = 1 and an AccountId = 3.

[2015-06-16 20:21] christopherdude commented on #149
This was by design.  This was the desired result.  I had it before so that the user had to hit ENTER to save it, but it was desired to save even when the user went away from it with no change.

[2015-06-16 21:56] davroth opened #180 "Sempra - at-a-glance Messages counter not incrementing when Station 2 is selected"
1. Browse to omnim2m.net w/ Chrome 43, Windows 8.1, log in as Patrick, select Sempra
2. Devices filter in upper left shows by default
3. Click dropdown and select Station --2
4. Observe at-a-glance Messages box

Expected - number of Messages in the box to minimally match the number of messages displayed in the Summary grid below

Actual - Messages box shows 0 while there are 6 messages in the Summ

[2015-06-16 22:05] davroth opened #181 "Sempra - trap state map is incorrect (Armed = 1, Triggered = 0)"
Our mapping of trap state for Sempra is incorrect. When we get a state of 1, it means the trap is armed; when we receive a state of 0, it means the trap has been triggered (e.g., possible animal inside). However, our system interprets 1 as "trap triggered" and 0 as "trap armed"

[2015-06-17 14:06] #149 closed, assigned to davroth

[2015-06-17 14:09] davroth commented on #165
I’m not sure if this is closed – I recall Pat putting in a “good enough” fix and saying he wanted to re-visit later.

[2015-06-17 14:12] davroth commented on #173
This is not showstopper, but definitely needs to be understood, and there still appears to be a problem w/ Sempra MESSAGES box - on 16-Jun around 10 PM, the MESSAGES counter was 43. On the morning of 17-Jun, Omni was displaying 6 new messages w/ no new Alerts, but the MESSAGES counter had only incremented to 47.

[2015-06-17 14:14] davroth commented on #175
Not a problem we need to fix right now, but I’m not sure of the use case for this option...

[2015-06-17 14:16] davroth commented on #178
Really should have ability for customers to remove user - i couldn't see from the UI how to disable a user

[2015-06-17 14:20] davroth commented on #179
Chris, can you check this? I don't know when traps actually reported, but our times are 7 hrs earlier than those shown by Caldera so i'm wondering whether we're using Pacific time?

High order bit here: we need to understand the data being shown on the screen so we can explain it.

[2015-06-17 16:35] davroth opened #182 "Sempra - what is time zone used in Recent Alerts grid?"
The time stamp in the Recent Alerts table cannot be easily tied to anything in the Summary table. We believe the entries for Trap 2-2 in both the Summary table and the Recent Alerts table result from the same message - but they are 11 hrs apart. If these are from the same message (and they may not be) , then the displayed time stamps should be very close.
![capture - timezone discrepancy](https://

[2015-06-17 16:36] davroth commented on #182
#179

[2015-06-18 14:36] davroth commented on #177
fixed

[2015-06-18 14:36] #177 closed, assigned to nobody

[2015-06-18 14:41] davroth opened #183 "Sempra Recent Alerts grid - only displays first trap reporting"
1. Browse to omnim2m.net, Chrome 43, Windows 8.1, login as Patrick, select Sempra
2. Observe Summary Grid has 5 recent reports from Trap 2
3. Observe Recent Alerts shows a line from the lastest time period for Trap 2-2

Expected - either display nothing in the Recent Alerts table because all traps were armed OR display all the recent reports

Actual - Summary Grid shows 5 rows while only 1 row (wh

[2015-06-18 14:44] davroth commented on #183
The concern here is that the Recent Alerts table seems to show the first line from a Gateway's report. If a Gateway report has 2-2 reporting first as Armed and 2-4 reporting as triggered later in the same Gateway report, will the triggered alert be sent?

[2015-06-18 20:05] patrickomni opened #184 "Reisner Fuel Level too high in 30 Day Graph"
This may be a duplicate.

When viewing the Reisner 30 Graph, level for the period in early June show the tank plateaued at 100%.

I believe the reason for this is as follows:
At that time, we initialized a new piece of CalAmp hardware to test GeoLocation for potential use at the Pipeline Company as an Asset Tracker. The device was battery powered and the battery expired coincident with the data in

[2015-06-18 23:27] davroth commented on #181
fixed

[2015-06-18 23:27] #181 closed, assigned to nobody

[2015-06-22 19:42] patrickomni commented on #179
The time of the alert is correct.  What we are missing is a spec on the alert date of the insertdate of the alert.

However, some devices report the date in which the message was recorded, and in others, we derived this date from the insertedate.  After which, the messagedate (whether from the device or derived from the insert date) is offset based upon the GeoLoc of the device.

But the alert is

[2015-06-22 20:07] patrickomni commented on #180
Fixed

[2015-06-22 20:09] patrickomni commented on #176
Yes it does.  0 messages, 1 alert.  A message is something that is reported and triggers a rule, but does not send an alert.  If you would like this changed, please specify.

[2015-06-22 23:18] patrickomni commented on #184
This is not a bug.   They actually filled the tank over memorial day and no one drew on it.

[2015-06-22 23:20] patrickomni commented on #183
This isn't making sense to me.  However, if there were any issues around alerts not being sent, its because data was not being sent to our system.

Is this the one you talked to Chris about?

[2015-06-22 23:23] patrickomni commented on #182
This is the same as #179 so I am closing

[2015-06-22 23:23] #182 closed, assigned to nobody

[2015-06-22 23:25] patrickomni commented on #173
Duplicate of #176

[2015-06-22 23:25] #173 closed, assigned to patrickomni

[2015-06-23 03:00] davroth commented on #179
There are different issues in play here:
1. What is timezone of the date/time stamp?
2. How do we correlate a message in the Summary grid w/ a message in the Recent Alerts grid?
3. W/ a Caldera gateway potentially reporting status for multiple traps, are we sure that Recent Alerts table is displaying all alerts that were sent? (#183)
1. Best if timezone can be adjusted to match the timezone where

[2015-06-23 03:08] davroth commented on #183
Can we simulate this situation?
     A single report from Gateway N contains status for Traps 1, 2, and 3 in that order. Traps 1 & 2 report
     that they are armed. Trap 3 reports it has been triggered. What does the Recent Alerts table show?

Expected - Traps 1, 2, and 3 reported in Recent Alerts table OR Trap 3 only reported in Recent Alerts table

[2015-06-23 03:11] #180 closed, assigned to davroth

[2015-06-23 03:16] davroth commented on #176
Ok, understand that Messages are the "normal" reports and Alerts are those that violate any established rule(s). However, when I look at Reisner, I still see 0 message in the "at-a-glance" line while the Last Report grid shows a normal report (e.g., didn't trigger an alert per rule) having occurred an hour ago (writing this message at 20:09 on 22-Jun). So there's something i'm still missing. Can w

[2015-06-23 20:51] CaseyDenglerOmni commented on #184
Not a bug, closing.

[2015-06-23 20:51] #184 closed, assigned to davroth

[2015-06-24 16:54] patrickomni commented on #179
1. Timezone is currently UTC of Server
2. You cannot correlate an alert to the summary grid in that there may be N per device, but you can select the device from the summary which will filter it to show the alerts for that device.
3. They should be now (since yesterday's fix).

We can surely adjust the time zone to the time zone of the device.  It's a reasonable call.  Just verify and I'll patch t

[2015-06-24 16:55] patrickomni commented on #183
We need hardware to do so

[2015-06-24 17:25] CaseyDenglerOmni opened #185 "Add "Trap Triggered" section to the rules"

[2015-06-25 03:39] CaseyDenglerOmni opened #186 "Able to add in blank information to User list"
Steps:
1) Log into Omni
2) Edit in a new user into any account
3) Leave information as blank except for a phone number
4) Attempt to have omni send a message to the blank user's phone

Expected:
The user receives whatever message is being sent through

Occurs:
The message does not go through to the user

Note: Really, there shouldn't be any reason to have sections of the Add User thing blank (mayb

[2015-06-25 04:45] CaseyDenglerOmni opened #187 "Alerts not being sent for Roxy 2 in Omni Demo"
Steps:
1) Log into Omni
2) Impersonate "Omni Demo"
3) Force the device to fall outside of it's alert range (or whatever it's called)
4) Observe the rules for Roxy 2 and the recent data for the device

Expected:
The page shows that an alert has been sent for Roxy 2, saying that it has fallen outside of its normal range.

Occurs:
Although the data is recorded, no alert is being sent through, either

[2015-06-25 04:57] CaseyDenglerOmni opened #188 "Simulations appear to be occurring at the wrong time"
To clarify, when attempting to simulate, say, a high temperature for a device, instead of the spike in temperature showing at the most recent part of the graph, it seems to occur farther back, as if changing past data

Steps:
1) Log into Omni
2) Impersonate Omni Demo
3) Simulate either high or low temperature (preferably whichever makes the greatest impact on the data)
4) Refresh and obverse the g

[2015-06-29 16:15] davroth opened #189 "Sempra - not all notifications being sent"
From: Dan Clem [mailto:dan@omnim2m.com]
Sent: Monday, June 29, 2015 7:38 AM
To: Patrick Dengler
Cc: David Rothenberg; Gary Schmidt; Ajay Sikka; Chris D
Subject: SMS Missed Messages

Patrick,

Got a call from Marie yesterday evening, she says that on Friday when they triggered traps 2-1, 2-2, 2-3, 2-4, 2-5, and 2-6,  she did not get any of the SMS messages. I checked our system, and it appears Geor

[2015-06-30 20:18] davroth opened #190 "Sempra - notifications not being sent"
Customer says they are not receiving notifications despite traps being triggered.

Caldera's site reports 2 traps as having been triggered 2015-06-30 @ 01:16:14 EDT. Both traps (and 4 other traps) then reported as being armed about 13 hrs later
http://calderadev.server289.com/trapnet/show_reports.php?&start=0&sensor=&gateway=

Marie’s spreadsheet shows us the 2 traps that were triggered are 2-1 (.

[2015-07-01 02:42] davroth opened #191 "Rule UI - log rule changes"
To ensure traceability of who/when rule changes are made, saving a new rule or changing an existing rule will result in a log of the change. The following information will be written in the log:
1. Applicability of the rule (e.g., global account, group, or individual device)
2. Name of account/group/device whose rule is being changed
3. Original rule (if any; this will be blank for the first time

[2015-07-01 02:42] #191 closed, assigned to nobody

[2015-07-01 02:44] davroth opened #192 "Rule UI - log all changes to rules"
To ensure traceability of who/when rule changes are made, saving a new rule or changing an existing rule will result in a log of the change. The following information will be written in the log:
1.Applicability of the rule (e.g., global account, group, or individual device)
2.Name of account/group/device whose rule is being changed
3.Original rule (if any; this will be blank for the first time a r

[2015-07-01 02:53] davroth opened #193 "Rules UI - when opening any individual device, ensure UI displays the active rule(s)"
In V1.0 of Omni, the UI presented when an individual device is clicked tells the user there are no rules for the device. This confuses users who are not intimately familiar w/ how Omni Rules work as they may not be aware a global rule exists and applies, so they create a new rule.

If this change request is taken, the UI will not only display any rule active when an individual device is clicked to

[2015-07-01 15:44] davroth opened #194 "Rules UI - after removing all users & ph numbers at device level, does Omni use global rule?"
Sempra wants notifications for all devices (traps/gateways) to go to Marie, George, Dan, and Gary. At the moment, there is an account level rule that does that, there is no site level rule for Site 2, and there is an individual rule for each of the devices (gateway 2, traps 2-1..2-6) that specifies George is the only one notified.

When I remove George at a trap level (e.g., uncheck box adjacent t

[2015-07-01 17:49] davroth opened #195 "Rules UI - "additional phone numbers" presents security risk"
Allowing a user to put unverified phone numbers on alert notifications poses a potential security risk. While this is useful as a debugging tool (we can easily add our own phones), this also presents a backdoor for someone to put a random phone number into a rule in a way that can be hard to detect.

We can reduce the attack surface area to a single location by only allowing Account Users to be se

[2015-07-02 15:50] davroth commented on #194
It is necessary to uncheck the "Enable rules for this device" box to remove a rule.

If this box is not unchecked, then Omni will attempt to process what amounts to a blank rule, so nothing will happen.

[2015-07-02 15:50] #194 closed, assigned to patrickomni

[2015-07-02 15:51] davroth commented on #190
By design - turned out to be data/usability problem as device level rules had been set to override global rule

[2015-07-02 15:51] #190 closed, assigned to patrickomni

[2015-07-02 15:52] davroth commented on #189
Turns out to have been a data/usability problem. Rules were incorrectly specified

[2015-07-02 15:52] #189 closed, assigned to nobody

[2015-07-02 15:54] davroth commented on #179
fixed

[2015-07-02 15:54] #179 closed, assigned to davroth

[2015-07-02 15:55] davroth commented on #183
fixed

[2015-07-02 15:55] #183 closed, assigned to patrickomni

[2015-07-02 18:29] CaseyDenglerOmni opened #196 "Live Data check box not working"
Steps:
1) Log into Omni (staging)
2) Impersonate Fridge Sample
3) Set the data filter to 30 days
4) Observe the data on the graph
5) Click on Show live data
6) Observe the data (or lack thereof) on the graph

Expected:
The data on the graph shows the data for the past 30 days while updating the new information every 5 seconds.

Occurs:
The graph goes blank, showing no data what so ever. The graph

[2015-07-07 17:18] patrickomni commented on #195
I've simplified this and just like simulate, only I can change these now.

[2015-07-07 17:18] #195 closed, assigned to nobody

[2015-07-07 17:54] patrickomni commented on #193
I implemented the following and am awaiting approval by you (and review by Chris).  I implemented it because it was the easiest way to think it through.   This area is ripe for a different UI as you spec'd but that UI is going to require a lot more work.  As it is, this particular implementation is going to require a lot of testing.

Essentially, if you click on an individual device, or a site, ne

[2015-07-07 17:56] patrickomni commented on #192
I implemented auditing on the rules table but it does not actually answer the overall issue and I hesitate even telling the team it's there.   The reason is that though it logs who changes the rule from within the system, we haven't secured the system so anyone could log in as me and change it or you etc.  Or go through the back end.

Implementing auditing is a great feature;  with the implementat

[2015-07-09 16:34] #193 closed, assigned to patrickomni

[2015-07-09 16:37] davroth opened #197 "Rules UI - bad grammar in message informing user rule has been set at parent site"
The information message has a problem w/ noun/verb agreement.

Actual - "... rule for this Device have ..."

Expected - "... rule for this Device has ..."

![capture - noun verb](https://cloud.githubusercontent.com/assets/12534533/8600996/026f5324-261e-11e5-94f2-06c8cb37434b.PNG)

[2015-07-09 18:34] CaseyDenglerOmni opened #198 "Column labels do not scroll with Summary Table"
Steps:
1) Impersonate Sempra Energy
2) Scroll down on the Summary Table
3) Observe Table

Expected:
The labels on the table (such as state, time, and voltage) scroll along with the table, staying at the top of the shown section of the table the entire time.

Occurs:
The labels stay at the top of the summary table, but not where the user can see them after scrolling through.

Before scrolling
![sum

[2015-07-09 18:41] CaseyDenglerOmni opened #199 "Filtering to any sub section yields a blank page on Chrome"
Steps:
1) Open up Chrome
2) Log into Omni
3) Impersonate Sempra
4) Click on the site drop down box and select any station number

Expected:
The data is filtered to fit the selected sub-section.

Occurs:
The page comes up as completely blank.

Note: I assume this is related to an issue from earlier where the site would freeze for Chrome when trying the same thing, so I don't think this is an issue

[2015-07-09 18:41] davroth opened #200 "Sempra V1.0 - Recent Alerts table showing duplicate data"
9-Jul - Sempra's Recent Alerts table is showing what appear to be duplicate entries for reporting traps. This may be a result of recovering from the bad data inadvertently fed into the system recently.

![capture - duplicate alerts](https://cloud.githubusercontent.com/assets/12534533/8603830/7c98b940-262f-11e5-9671-cffcc06e8565.PNG)

[2015-07-09 19:01] davroth commented on #200
Caldera's site shows that 6 devices reported on 2-Jul, with nothing having reported since
![capture - caldera results](https://cloud.githubusercontent.com/assets/12534533/8604241/3080af10-2632-11e5-839a-5e8d205e6c64.PNG)

[2015-07-10 16:22] davroth opened #201 "Sempra Working Hours from Marie"
M-F : 05:30 .. 20:30
S-S: 08:00 .. 20:00

From: "VanZandt, Marie" mvanzandt@AuwahiWind.com
Date: July 10, 2015 at 12:22:02 AM PDT
To: Dan Clem dan@omnim2m.com
Cc: "Akau, George" gakau@AuwahiWind.com
Subject: Re: Working Hours Alerts
Great news Dan. M-F 530-830 and SS 8-8 should be good. We wake up pretty early over here and it is nice to know you have traps to deal with first thing in the morning,

[2015-07-10 16:56] davroth opened #202 "Reisner Alerts - don't appear to be sent when rule violated"
1. Browse to https://omnim2m.net/sv#, log in as Patrick, select Reisner
2. Landing page shows 14.14% remaining; Active Alerts table is empty
3. Check rules config - device level rule set to trigger when below 20%

Expected - Alert to have been sent; alert displayed in Active Alerts table

Actual - Active Alerts table is empty; Twilio shows no SMS messages sent since July 8 when the tank level was

[2015-07-10 17:00] davroth commented on #202
I noticed during the Investor mtg that the rule had somehow gotten set to 6% (Pat and I talked about it during the demo). Yesterday (Thu), after checking w/ Gary to verify the correct setting, I reset both account level and device level rules to 20%...

[2015-07-10 18:47] davroth opened #203 "Reisner Rules UI - shows checkbox for low battery and low signal notification"
1, Browse to http://nettelpong.azurewebsites.net/sv, click login
2. Select Reisner, select account level rules, observe checkboxes in upper left of rules UI

Expected - checkboxes match capabilities of device

Actual - 2nd checkbox says "Enable Low Battery and Low Signal Notifications"

The device does provide signal strength, but it is plugged in all the time...

[2015-07-11 19:26] davroth opened #204 "Rules UI - color code override warning to make it more obvious"
When the Rules UI is invoked at a level that will cause another existing rule to be overridden, a message is displayed. There is a request to make this message "jump out" more obviously to users. Today, the message has in normal font and has a blue checkbox.

The request is to
1. place the word Caution in bold font at the top of the message
2. change the color of the OK button to Green (thought ab

[2015-07-11 19:31] davroth commented on #204
![capture - override warning](https://cloud.githubusercontent.com/assets/12534533/8635079/c55a7e58-27c8-11e5-8766-bc8b24edbf4a.PNG)

[2015-07-13 16:36] davroth opened #205 "Nettelpong - no results displayed when "scope" of display is filtered"
Code not yet released, but want to make sure we don't miss this:
1. Browse to http://nettelpong.azurewebsites.net/sv, Chrome 43, Windows 8.1, log in w/o Id, select Sempra
2. On landing page, click Stations drop down (upper left corner) and select 4

Expected - At-a-glance chiclets, Summary grid, map, Active Alerts grid w/ Station 4 devices

Actual - blank screen; back button remains active

[2015-07-13 16:50] davroth opened #206 "Account Mgmt - User removal is confusing"
1. Browse to http://nettelpong.azurewebsites.net/emp, Chrome 43, Windows 8.1, login w/o name
2. Click Edit button adjacent to Sempra Energy, select User tab
3. Create a user (Marie V) w/ all data, then save user, then close
4. Click Edit button adjacent to Sempra Energy again, select User tab, erase all data for Marie V, save user, then close
5. Click Edit button adjacent to Sempra Energy a 3rd ti

[2015-07-13 17:57] davroth commented on #204
![capture - override warning](https://cloud.githubusercontent.com/assets/12534533/8656684/fd918d80-294d-11e5-825c-30f3447730ad.PNG)

[2015-07-13 20:21] patrickomni commented on #200
This is on the production site

[2015-07-13 20:30] danomni commented on #200
Hi Dave & Patrick,

The Caldera page you are looking at only shows reports for traps & gateways
and not solely gateways.

This is why you are seeing data on the production site that is not on the
Caldera reporting URL.

Dan

On Mon, Jul 13, 2015 at 1:21 PM, patrickomni notifications@github.com
wrote:

##

Dan Clem | *Marketing Manager *

Dan@omnim2m.com dan@omnim2m.com | (425) 279-7997 | omnim2m.c

[2015-07-13 20:42] davroth commented on #203
get levels from Frank

[2015-07-13 20:48] davroth opened #207 "Active Alerts grid - add "Clear Alert" button to each grid row"
Behavior, when button is clicked is to change status of Alert to "Cleared" and to record person making change as well as date/time button was clicked

[2015-07-13 20:50] davroth opened #208 "Report button - remove from non-trap scenarios"

[2015-07-13 20:53] davroth commented on #192
Also need document that describes where to find log, and how to read an entry

[2015-07-13 20:54] davroth opened #209 "V1.1 deployment instructions"
List of work steps to get from V1.0 to V1.1

[2015-07-13 20:59] davroth commented on #203
From: frank mckeown [mailto:frank@omnim2m.com]
Sent: Monday, July 13, 2015 1:57 PM
To: David Rothenberg
Subject: Re: Sendum thresholds for signal strength and battery level?

Well, it's hard to say what the right values should be. A signal strength (RSSI) of anything less than -100 would begin to be a problem. The device, CalAmp not Sendum, is powered externally so the battery level is meaningless

[2015-07-13 21:04] davroth commented on #209
working copy in folder below:
https://drive.google.com/drive/u/1/folders/0B-forHpf_EKFfmtIVnFQT051cXgwZTE5aEVobjByNldEZ0hfTUlxOTRsd1lRWkpDelhsNmc

[2015-07-14 15:14] davroth opened #210 "Omni Demo - "Error loading the device table data: undefined""
1. Browse to http://nettelpong.azurewebsites.net/sv, Chrome 43, Wkndows 8.1, login anonymously, select Omni Demo
2. Set time filter to 3 months (or 6 months)

Expected - all structures load successfully

Actual - red bubble in lower left corner informing me there was an error loading the device table data: undefined

[2015-07-14 15:19] davroth opened #211 "Rules UI - saving device level rule does not return control to user"
1. Browse to http://nettelpong.azurewebsites.net/sv, Chrome 43, Windows 8.1, login anon, select Omni Demo
2. Click on hyperlink for any device to bring up Rules UI
3. Make a change to Rules UI and click Save Rule

Expected - rule saved and control returned in reasonable amount of time

Actual - rule is saved, but the "Please wait..." box stays on the screen for at least 2 minutes (I didn't wait an

[2015-07-14 16:32] davroth opened #212 "At-a-glance view doesn't match spec"
At-a-glance line contains a cell for Severe alerts. The spec does not call for that data which is a good idea, but isn't currently supported by our alerts anyway.

Here's what we want:
a. Messages - count of "within threshold" messages received
b. Alerts - count of "outside threshold" messages received that have not been cleared
c. # of Devices - count of devices

Note - the spec calls for a sligh

[2015-07-14 16:44] davroth commented on #212
The above was for fuel tank and fridge; traps appear to have 3 cells:
a. Active Alerts
b. Reported w/in 24 hrs (this is similar to count of messages)
c. # of devices

Longer term, we probably want to make this at-a-glance view controllable at an account level from among a list of choices at a global level

[2015-07-14 18:01] davroth opened #213 "Trap solution - incorrect columns in Active Alerts grid?"
1. Browse to http://nettelpong.azurewebsites.net/sv, chrome 43, windows 8.1, login anonymously
2. Select Test Traps (this one has Active Alerts right now) and observe Active Alerts grid on Landing Page

Actual - 5 columns w/ following titles 1) . 2) Label 3) Message 4) Status 5) MessageDate

Expected - 5 columns w/ following titles 1) Name 2) Type 3) Message 4) Status 5) MessageDate

Type will be

[2015-07-14 18:29] davroth commented on #205
Behavior has changed - now "Please wait message" is displayed and control is never returned to user
#211

[2015-07-14 18:47] davroth opened #214 "Device level rules UI - "should not have hit" error"
1. Browse to http://nettelpong.azurewebsites.net/sv# , chrome 43, windows 8.1, login anon, select Sempra
2. Click Device 15.1 in summary grid to bring up rules ui

Expected - warning message that parent level rules will be overridden

Actual - message saying 'Should not have hit'

![capture - should not have hit](https://cloud.githubusercontent.com/assets/12534533/8681685/d2701c86-2a1d-11e5-9844-1

[2015-07-14 18:48] davroth commented on #197
#214

[2015-07-14 18:51] davroth commented on #201
We only support "on the hour" - use 06:00 and 20:00 for M-F, 08:00 and 20:00 for Sat/Sun

[2015-07-14 18:52] davroth commented on #197
#204

[2015-07-14 18:56] #208 closed, assigned to patrickomni

[2015-07-14 19:01] patrickomni opened #215 "Fix margins on new rules warning dialog"
1. Go To Sempra
2. Select Trap #2 for setting rules
   ![image](https://cloud.githubusercontent.com/assets/12114620/8682109/fc764968-2a1f-11e5-8cb2-405514f1f73a.png)

Give us some margins

[2015-07-14 19:12] patrickomni opened #216 "Highlights needs to reflect date filter"
Align tank and fridge to Traps

[2015-07-14 19:25] patrickomni commented on #214
You caught me mid-deploy.

Fixed :)

[2015-07-14 19:27] #214 closed, assigned to davroth

[2015-07-14 19:32] davroth opened #217 "Reports - change some data for Sempra"
Request from Dan:
1. Sort all reports chronogically (newest first)
2. Traps will show their state (either Armed or Triggered)

[2015-07-14 19:33] davroth opened #218 "Rules UI - add hyperlink to User Guide"
add a hyperlink to Rules UI at global account, group, device levels that includes a hyperlink to the Rules UI user guide (request from Gary/Dan)

[2015-07-14 19:54] patrickomni opened #219 "Fix link in uppernav to docs"
remove bullhorn et. al

[2015-07-14 21:59] patrickomni commented on #218
Oh, that's not how I implemented.  I put it at the top of the whole page.   Where would you like it, in the RulesUI dialog?

[2015-07-14 22:31] patrickomni commented on #217
Fixed

[2015-07-14 22:48] patrickomni commented on #216
Dave,

This is for summary highlights to respect date filter.

Not as easy as I thought.  I've prepared the server side ASP and the backend for this, however, since the date selector drives client side, we need some wiring here.  Sending to Dave for comment.   Dave this could cost a day or so.  Or I can pick a reasonable default for now (and change the labels like -> Active Alerts (last 24 hours)

[2015-07-15 01:36] davroth commented on #215
0.1"

[2015-07-15 01:37] davroth commented on #216
I like your idea; can we use last 3 days?

[2015-07-15 01:42] davroth commented on #218
oops - forgot to include where:
1. Landing page title bar - i'm also creating a Landing Page UG, so can we put a dropdown control w/ each choice being a link to a (probably PDF) document that opens when clicked?
2. Rules dialog title bar - hyperlink to UG

[2015-07-15 14:36] #217 closed, assigned to davroth

[2015-07-15 14:39] davroth commented on #218
Please have doc pop up in new window (not just tab) - can be used side-by-side w/ screen that way

[2015-07-15 14:40] davroth commented on #219
see #218

[2015-07-15 14:42] davroth commented on #204
We've lost the yellow caution button which was what was specifically requested.
Text for box: "Saving a rule here will override a site level rule for this Device"

[2015-07-15 14:43] #197 closed, assigned to nobody

[2015-07-15 14:49] davroth opened #220 "Reisner rules - "no results" dialog displayed when there is a rule"
1. Browse to http://nettelpong.azurewebsites.net/sv, Chrome 43, Windows 8.1, login anon, select Reisner
2. Click global rules icon

Actual - window comes up saying getting rules returned no results. We have set some suggested values for you, but they will not be implemented unless you click the Save rule button

Expected - Reisner rules should be created by us for battery and low signal; further w

[2015-07-15 14:56] davroth commented on #215
#204

[2015-07-15 18:32] patrickomni opened #221 "separate office dependency from cloud and remove tests"

[2015-07-15 18:34] patrickomni opened #222 "separate office dependency from cloud and remove tests"

[2015-07-15 18:34] #222 closed, assigned to patrickomni

[2015-07-15 18:36] #176 closed, assigned to patrickomni

[2015-07-15 18:48] #201 closed, assigned to patrickomni

[2015-07-15 18:56] davroth commented on #210
30 days works for Omni Demo (on Chrome) but 3 months shows the "red bubble"

[2015-07-15 18:58] #213 closed, assigned to nobody

[2015-07-15 18:58] #215 closed, assigned to christopherdude

[2015-07-15 18:59] patrickomni opened #223 "Move Rules Link to right place"

[2015-07-15 18:59] #223 closed, assigned to nobody

[2015-07-15 19:00] #219 closed, assigned to christopherdude

[2015-07-15 19:06] #220 closed, assigned to nobody

[2015-07-15 19:39] #221 closed, assigned to peters95

[2015-07-15 19:39] patrickomni commented on #216
These now are set to 3 days

![image](https://cloud.githubusercontent.com/assets/12114620/8708057/93407c3c-2aee-11e5-9287-3cd0d419645a.png)

[2015-07-15 19:40] patrickomni commented on #200
Not repro

[2015-07-15 19:40] #200 closed, assigned to christopherdude

[2015-07-15 19:42] patrickomni commented on #205
Don't know if this is helpful Chris but I get:
Uncaught TypeError: Cannot read property 'PRM_ParserErrorDetails' of undefined

[2015-07-15 20:44] peters95 commented on #218
this is done now. I need the second guide please to update accordingly.

[2015-07-15 22:49] peters95 commented on #196
this is fixed. moved live data to the dropdown. removed the checkbox. fixed the refresh glitch in live data.

[2015-07-15 22:49] #196 closed, assigned to peters95

[2015-07-15 23:56] #216 closed, assigned to davroth

[2015-07-16 00:08] peters95 commented on #218
both have been added and have been checked in

[2015-07-16 02:09] CaseyDenglerOmni opened #224 "Recent reported times are going backwards on the Summary Table"
Steps to reproduce:
1) Log into omni on two separate pages
2) Impersonate Test Tank on both pages
3) Wait about three minutes
4) Refresh only one page and compare the recent times between the two pages

Expected:
The time on the refreshed page should either not change, or it should go forward in time

Occurred:
The time on the refreshed page is farther back than the time on the older page, which c

[2015-07-16 02:19] CaseyDenglerOmni opened #225 "Live data produces nothing on the graph"
Steps to reproduce:
1) Log into Omni
2) Impersonate Test Tanks
3) Select "Live" from the time drop box
4) Observe the graph

Expected:
Not fully sure whether a specific set of time would be chosen as the earliest section for the graph, or if the most recent setting would be the earliest section, not fully important though. Expected some data to be written nonetheless.

Occurred:
The graph showed u

[2015-07-16 02:32] CaseyDenglerOmni opened #226 "On IE, changing the rules sometimes causes the site to hang"
Steps:
1) Log into Omni
2) Impersonate Test Tank
3) Change the rules for either device or site level
4) Save the rules
5) If the site does not hang, repeat steps 3 and 4 at most three times. If nothing happens, then close this bug.

Expected:
The site saves the rules and lets the user carry on interacting with the page

Occurs:
The site seems to freeze up with a simple "Please wait..." bar showing

[2015-07-16 02:42] CaseyDenglerOmni opened #227 "Odd error window popping up on IE when refreshing Sempra"
Steps:
1) Log into Omni
2) Impersonate Sempra
3) Refresh the page

Expected:
The page refreshes with no issues

Occurs:
This odd error window pops up
![odd error](https://cloud.githubusercontent.com/assets/13022216/8714434/8addcafa-2b29-11e5-8fc9-c5b533a48d9a.png)
Don't know what else to say beyond that honestly. Seems extremely out of place.

[2015-07-16 02:48] CaseyDenglerOmni opened #228 "Recent alerts table shows no information"
Steps:
1) Log into Omni
2) Impersonate Sempra
3) Assuming that there is still a recent alert, observe the recent alerts table, other wise find a new account to impersonate which has an uncleared alert.

Expected:
The recent alerts table either has the information about the most recent alert, or the table says "There is no data available for the selected device(s)."

Occurs:
An odd limbo occurs bet

[2015-07-16 03:12] davroth commented on #226
#211 -  same problem but using Chrome 43 rather than IE

[2015-07-16 03:15] davroth opened #229 "Online User Guides - open in separate windows"
Please have doc’s each open in a separate window. That will allow side-by-side viewing

[2015-07-16 03:19] davroth commented on #218
From comment above - 2. Rules dialog title bar - hyperlink to UG

Need access to user guides from Rules UI window. We just need the Rules UI UG in the Rules UI title bar, but if it's easier to put the dropdown list in, then do that

[2015-07-16 03:41] patrickomni commented on #199
I think this is a dupe but it was missed because I didn't set the milestone

[2015-07-16 03:44] patrickomni commented on #187
I had a similar issue with Test Tank at the site level.  But it worked fine for Reisner.

[2015-07-16 08:44] patrickomni commented on #228
By design; we had no alerts :(

[2015-07-16 08:44] patrickomni commented on #227
Good catch! SHould be fixed; re-run tests.

[2015-07-16 08:46] patrickomni commented on #226
Finally, finally fixed :)

[2015-07-16 08:50] patrickomni commented on #211
fixed (Finally)

[2015-07-16 08:50] patrickomni commented on #210
fixed

[2015-07-16 08:51] patrickomni commented on #207
done

[2015-07-16 08:51] patrickomni commented on #205
fixed

[2015-07-16 08:52] patrickomni commented on #199
fixed

[2015-07-16 08:52] patrickomni commented on #186
fixed

[2015-07-16 08:55] patrickomni commented on #229
Fixed though waiting on final documet

[2015-07-16 15:40] davroth opened #230 "Add account user - add user w/ blank info, need to click erro msg OK button 4 times"
1. Browse to http://nettelpong.azurewebsites.net/emp, Chrome 43, Windows 8.1, login as dave
2. click edit adjacent to Test Traps, select Users tab
3. Enter user first name, email, and strong password, click Save User
4. Error dialog pops up (as specified by #186)

Expected: clicking OK button returns control

Actual: need to click OK button 4 times before control is returned

[2015-07-16 15:50] davroth commented on #199
re-pro's this morning; possibly related to fixing "Please wait" ?

[2015-07-16 15:51] davroth commented on #199
not fixed related to fix of #211 ?

[2015-07-16 16:03] davroth commented on #202
Production site - Reisner global rule set to fire @ 20% w/ msgs sent to Dan, Jeff, Denny and 3 additional ph numbers (Gary, Chris, Patrick); no device level rule set
8 AM report shows 18.56% remaining.
Rule should have fired, but no results showing in Active Alerts graph
Twilio shows 4 text messages were sent starting @ 08:52 this morning – each of the Reisner employees were sent a text and there

[2015-07-16 16:09] davroth commented on #205
No longer see "Please wait message", but the screen stays blank (#199)

[2015-07-16 16:10] #207 closed, assigned to davroth

[2015-07-16 16:11] davroth commented on #210
Seeing new error on Chrome: A column named '.' already belongs to this Data Table'

[2015-07-16 16:13] davroth commented on #211
fixed

[2015-07-16 16:13] #211 closed, assigned to davroth

[2015-07-16 16:14] davroth commented on #199
oops #205

[2015-07-16 16:16] davroth commented on #225
there is a pop up saying "refreshing every 5 seconds" for Omni Demo;

[2015-07-16 16:28] davroth commented on #187
Is this related to #202?

[2015-07-16 16:40] #226 closed, assigned to CaseyDengler

[2015-07-16 20:48] peters95 commented on #229
this has been checked in now using window.open... in Chrome it continues to behave the way the user specified however in their settings due to the browser overriding it. I test with both ahref and window.open and both behaved the same inside of Chrome.

[2015-07-16 20:48] #229 closed, assigned to davroth

[2015-07-16 20:50] peters95 commented on #218
hey dave

does this have to be in the Rules UI.. this will require significant time investment to do

[2015-07-16 21:20] CaseyDenglerOmni commented on #228
If by design, then will close

[2015-07-16 21:22] CaseyDenglerOmni commented on #227
Can't reproduce

[2015-07-16 21:22] #227 closed, assigned to CaseyDengler

[2015-07-16 21:28] CaseyDenglerOmni commented on #186
Specific issue is solved, closing

[2015-07-16 21:28] #186 closed, assigned to CaseyDengler

[2015-07-16 21:28] CaseyDenglerOmni commented on #199
I'm also still able to reproduce on my side.

[2015-07-16 21:33] CaseyDenglerOmni commented on #136
During the last test pass I never encountered this bug, so I'm closing it.

[2015-07-16 21:33] #136 closed, assigned to CaseyDengler

[2015-07-16 22:01] peters95 commented on #205
cool im taking a look into this now

[2015-07-16 22:04] davroth commented on #205
closing as duplicate of #199

[2015-07-16 22:04] #205 closed, assigned to davroth

[2015-07-16 22:10] davroth commented on #228
There is an inconsistency between the Recent Alerts table and the At-a-glance cell; need to force a refresh of at-a-glance when an alert is cleared; similarly, if all alerts are cleared, then need to refresh at-a-glance

[2015-07-16 22:24] davroth opened #231 "User Guides - include Omni logo, date, version, copyright"

[2015-07-16 23:18] davroth opened #232 "Active Alerts Status values - relevant to whether text message has been sent"
1. Browse to http://nettelpong.azurewebsites.net/sv, Chrome 43, Windows 8.1, login as dave, select Test Traps
2. Observe Active Alerts table

Expected - status to describe whether SMS has been Delivered, is Pending (waiting for working hours)

Actual - status value of New

Alerts also have a status value of Active (needs attention), Assigned (someone has been asked to work on it), Cleared (Joe loo

[2015-07-16 23:35] davroth commented on #218
we can defer; not willing to spend 6 hrs on this right now

[2015-07-16 23:35] #218 closed, assigned to peters95

[2015-07-16 23:36] davroth opened #233 "Rules UI - add hyperlink for Rules UI User Guide in title bar"
deferred from 1.1

[2015-07-17 00:04] peters95 commented on #199
I have a fix for this now check in to TFS. Working w/ Pat to publish out to nettelpong.azurewebsites.net bear with me a little while

[2015-07-17 00:11] peters95 commented on #199
patrick is publishing this closing this now

[2015-07-17 00:11] #199 closed, assigned to peters95

[2015-07-17 00:22] patrickomni commented on #233
Hadrer to do than you might think.  proposed punt

[2015-07-17 00:23] patrickomni commented on #232
new means that you didn't actually set it to be sent as an SMS so just an alert was created.  It will show  (should show) sent when sent and pending when pending

[2015-07-17 00:24] patrickomni commented on #228
Refreshing at a glance is more work than you would think.  It's the same reason why we don't refresh at a glace when filtering days.   Suggest punt

[2015-07-17 00:25] peters95 commented on #202
I am testing this out to see if the rule fires when the tank drops below 85%. I set the device rule additional phone number to me and set it active

[2015-07-17 00:53] peters95 commented on #210
added in the missing row for resource for fridge.summary.finalalerts and now this is working as expected

[2015-07-17 00:53] #210 closed, assigned to peters95

[2015-07-17 00:55] patrickomni commented on #202
The rule is still incorrect; by default, no one will receive anything.  Removing bug tag

[2015-07-17 00:56] patrickomni commented on #225
If this works against Test Fridge, then change the milestone to future.

[2015-07-17 13:46] davroth opened #234 "Reisner 3 day graph shows oscillations when data does not"
## Please investigate - we've been living w/ this, but, if asked, should be able to at least partially explain it to customers.

From: frank mckeown [mailto:frank@omnim2m.com]
Sent: Thursday, July 16, 2015 10:28 AM
To: David Rothenberg
Subject: Possible Data Bug

Repro Steps:
Impersonate Reisner.
Observe the graph for the last 3 Days.
For July 15th starting at 8:24am, the graph oscillates violentl

[2015-07-17 15:22] davroth commented on #234
![capture-reisner oscillations](https://cloud.githubusercontent.com/assets/12534533/8750548/eaeb8e62-2c5c-11e5-9d85-5c144461f9fd.PNG)

[2015-07-17 15:25] davroth commented on #234
Graph above is only for staging site; does not appear on Prod site - so this is likely test data, but we absolutely need to understand what goes to Staging, what goes to Prod and preferably keep

[2015-07-17 17:50] davroth opened #235 "Heartbeat Alert - notify customer that their system is alive and well"
From Gary's email description of a meeting w/ Norm's/Roxy: "Because the customer was NOT receiving alerts, he assumed the system was not functioning. What this tells me is that we potentially need a status report (daily, weekly, monthly) message of some sort (similar to Sempra) letting them know that we’re still alive and monitoring. It’s good to not get messages but if you go too long of a period

[2015-07-17 18:36] davroth opened #236 "Reports - enable for Tank and Fridge solution"
Need to add capability to generate historical reports for each solution using same paradigms/selection criteria as is available for Pest Control

Tank columns:
1. Tank name
2. Fuel level
3. Signal Strength
4. time message received by Omni

Fridge columns:
1. Fridge name
2. Temperature
3. Light - ambient
4. Light - infrared
5. Humidity
6. Barometric pressure
7. Motion
8. Signal strength

[2015-07-17 18:47] christopherdude commented on #204
Big yellow caution in there now

[2015-07-17 19:58] christopherdude opened #237 "Display live option only when AccountId = 1"
Per discussion on phone 7/17/2015 1:00 PM meeting

[2015-07-17 20:09] #204 closed, assigned to davroth

[2015-07-17 20:12] #202 closed, assigned to davroth

[2015-07-17 20:13] davroth commented on #232
added to user guide

[2015-07-17 20:13] #232 closed, assigned to davroth

[2015-07-17 20:16] davroth commented on #231
added Omni logo and copyright statements

[2015-07-17 20:16] #231 closed, assigned to davroth

[2015-07-17 20:19] #234 closed, assigned to patrickomni

[2015-07-17 20:19] davroth commented on #237
#225

[2015-07-17 20:30] davroth commented on #225
Test Fridge produces the same pop up saying "refreshing every 5 seconds" but there is no data displayed. I am pushing this to future because #237 restricts access to 1 account anyway

[2015-07-17 21:09] davroth commented on #235
why can't this be done via cellphone looking at landing page?

[2015-07-18 21:18] davroth opened #238 "Graph - timescale doesn't change when time filter is changed"
1. Browse to https://nettelpong.azurewebsites.net/sv, chrome 43, windows 8.1, login as dave, select Test Fridge
2. Observe current date/time on laptop clock is 2:10 PM, 7/18/2015 (PDT)
3. On landing page, observe timescale on the timeline graph starts 1 AM on the 17th and covers last 37 hrs
4. Set time filter to last 3 days, observe timescale starts at 5 AM 3 days ago (7/15) and covers 3 days and

[2015-07-18 21:28] davroth opened #239 "Labels - "Successfully changed this resource" msg after exiting edit mode w/ no changes"
1. browse to https://nettelpong.azurewebsites.net/sv, chrome v43, windows 8.1, login as dave, select Test Fridge
2. Double click any of the labels (Name column in Summary grid for example) and see an edit box
3. Click outside the edit box without making any changes and box goes away

Actual - pop up appears saying "Successfully changed this resource"

Expected - pop up saying "No changes made"

Le

[2015-07-18 21:54] davroth opened #240 "Map - displaying too many devices for device selection filter"
1. Browse to https://nettelpong.azurewebsites.net/sv, chrome 43, windows 8.1, login as dave, select Sempra
2. set device scope filter to 1, observe map
3. increase scale of map by clicking '+' until you can see all the devices

Expected - 7 lollipops

Actual - a very large number of lollipops
![capture - too many devices](https://cloud.githubusercontent.com/assets/12534533/8763656/d12c16f8-2d5c-11

[2015-07-18 21:59] davroth opened #241 "Active Alerts grid - doesn't return results after device scope filter changed two times"
1.  Browse to https://nettelpong.azurewebsites.net/sv, chrome 43, windows 8.1, login as dave, select Sempra
2. observe landing page (No data available msg in Active Alerts grid)
3. change device scope filter to station 8; observe landing page (No data available msg in Active Alerts grid)
4. change device scope filter to station 2; observe landing page

Expected - Active Alerts grid displays No dat

[2015-07-18 22:24] davroth commented on #239
Let's check what actually happens here - if we are not saving name of current user and current date/time, then this can be deferred. But if current user and current date/time overwrite existing name/date-time, then we've lost data and we need to fix this in 1.1

[2015-07-18 22:30] davroth commented on #224
18-Jul - could not repro; can we close?

[2015-07-20 16:17] davroth commented on #240
Devices no longer showing on the map
![capture - sempra no devices](https://cloud.githubusercontent.com/assets/12534533/8780801/33bb5054-2ec0-11e5-87e0-4c1f361b8b74.PNG)

[2015-07-20 16:25] davroth commented on #240
Here are current repro steps:
1. browse to https://nettelpong.azurewebsites.net/sv, chrome 43, windows 8.1, login as dave
2. select Sempra and observe landing page has map
3. zoom out to locate Hawaii, then zoom in

Expected: lollipops to show up on Maui

Actual: no lollipops until device scope is filtered to a station. I filtered to station 2, saw lollipops, then set scope back to global (Station

[2015-07-20 16:43] davroth opened #242 "Sempra map - no devices displayed on initial entry to landing page"
fixing #240 appears to have caused this
1. browse to https://nettelpong.azurewebsites.net/sv, chrome 43, windows 8.1, login as dave
   1. select Sempra and observe landing page has map
   2. zoom out to locate Hawaii, then zoom in

Expected: lollipops to show up on Maui

Actual: no lollipops until device scope is filtered to a station. I filtered to station 2, saw lollipops, then set scope back to

[2015-07-20 18:32] peters95 commented on #241
Starting to work on this now.

[2015-07-20 18:44] patrickomni commented on #237
Done. Only Omni employees will see live data. Will prop with next build.

[2015-07-20 19:24] davroth opened #243 "Deliver alert when devices expected to report are not reporting"
The new Omni Operations dude is a stickler for details and wants to be told when one of his customers may not be getting the value expected from Omni. In particular, he wants to be able to troubleshoot problems when devices are expected to be sending messages to Omni but Omni is not receiving them. He knows there are several weak points in the stack - device battery, signal strength from device to

[2015-07-20 20:16] davroth opened #244 "Error retrieving data when opening landing page"
1. Browse to https://nettelpong.azurewebsites.net/sv, chrome 43, windows 8.1, login as dave
2. Select Reisner and observe Landing Page

Expected - landing page displays w/o error

Actual - landing page displays red error popup msg below
"There was an error getting some of the data to be graphed. Any data shown may not be complete. Please contact Omni about this error.undefined"

This also happens

[2015-07-21 00:41] davroth commented on #241
Active Alerts grid now not returning any results upon initial entry
![capture - sempra no results](https://cloud.githubusercontent.com/assets/12534533/8790760/79b84508-2f06-11e5-8c05-6db6b7415a6c.PNG)

[2015-07-21 00:43] davroth commented on #237
fixed

[2015-07-21 00:43] #237 closed, assigned to davroth

[2015-07-21 03:03] davroth opened #245 "User Guides - link to files with logo, version, date, copyright notices"
Per email, please replace the current copies of user guides (dashboard/rules) with those sent in email around 20:00 20-Jul

[2015-07-21 04:01] christopherdude commented on #199
New fix for this one with changeset 848.  The fix that was introduced caused more problems.  It wasn't the correct solution.  Now it works.

[2015-07-21 04:13] christopherdude commented on #244
I'm not seeing this any more.  Perhaps my other fix fixed this one?

[2015-07-21 04:19] christopherdude commented on #242
I believe this was fixed with my other fix.

[2015-07-21 04:22] christopherdude commented on #240
I think this was fixed with my other fix

[2015-07-21 15:01] davroth commented on #244
Still repro's w/ both FireFox and IE (haven't checked Chrome)

[2015-07-21 15:02] #242 closed, assigned to davroth

[2015-07-21 15:04] #240 closed, assigned to davroth

[2015-07-21 17:25] patrickomni commented on #244
While I thought this was a resource not included, I think the culprit was the following:

[code]

Even though this line of JavaScript is commented out, the <% %> ASP still fires.  This YAxisResourceName did not have a valid value because it wasn't expected to fire at all; and since this would only be for the graph, that is why tank and fridge did not work.

[code]

So I added the extra commenting

[2015-07-21 17:26] patrickomni commented on #241
This was fixed last night and i cannot repro anymore

[2015-07-21 17:27] #224 closed, assigned to CaseyDengler

[2015-07-21 17:33] patrickomni commented on #187
No repro anymore.  I think it was a moment in time.

[2015-07-21 21:45] ghost opened #246 "Checkboxes and Graph not communicating properly"
Description: When a checkbox is deselected, it takes a few seconds to load properly (it shows the old graph while loading).  This could just be an efficiency thing that gets better with time, but I thought it would be worth bringing up.  Bigger problem is that the graph sometimes DOES NOT load, or will load, and then revert to a previous state, where the graph does not match the checkboxes.
![chec

[2015-07-21 22:39] ghost opened #247 "Data not appearing in graph"
Description: Data that shows up on a graph covering later dates does not show up on more recent dates (see pictures)
![graph bug 1](https://cloud.githubusercontent.com/assets/13356999/8814139/1c0ab766-2fbe-11e5-89d8-335d5abebbcd.PNG)
![graph bug 2](https://cloud.githubusercontent.com/assets/13356999/8814142/1f08d088-2fbe-11e5-9b1b-b2f2ec55dffe.PNG)

Steps to Reproduce: find a scenario that has dat

[2015-07-21 22:48] ghost opened #248 "Blank Labels can be saved"

[2015-07-21 22:49] #248 closed, assigned to nobody

[2015-07-21 22:54] ghost opened #249 "Blank Labels can be saved"
Description: User is allowed to edit labels and save them off as blanks.  Because of the way the editing process works, user can no longer edit the blank labels, since there is nothing to select.
![blank label bug](https://cloud.githubusercontent.com/assets/13356999/8814342/2cf07140-2fc0-11e5-9c62-58b39b4e83e7.PNG)

Steps to Reproduce: Edit a label, then save it off as a blank

Actual Results: Lab

[2015-07-21 23:19] ghost opened #250 "Scroll bar disappearing"
Description: After changing site/device-level rules and saving, the scroll bar for the page disappears and user can no longer scroll
![scroll bar disappearing bug](https://cloud.githubusercontent.com/assets/13356999/8814642/ac79f992-2fc3-11e5-911f-69fb979f7600.PNG)

Steps to Reproduce: save off site/device-level rules (no need to change anything).

Actual Results: Scroll bar disappears, and can no

[2015-07-21 23:22] davroth commented on #241
Still seeing this for Tank, Fridge, and Traps on both IE and FireFox. Below is picture of Sempra 1 minute after landing page starts to display
![capture - active alertspng](https://cloud.githubusercontent.com/assets/12534533/8814708/aa09bbb0-2fc4-11e5-9983-bf783da43cc4.PNG)

[2015-07-21 23:24] ghost opened #251 "SSL Data Retrieval Error"
Description: If site is securely accessed (use "https://" before URL), there is an error with data appearing. (See picture)
![https error](https://cloud.githubusercontent.com/assets/13356999/8814714/bc5f5630-2fc4-11e5-9230-05a33e16f300.PNG)

Steps to Reproduce: use "https://" before URL in any scenario.

Actual Results: Data error (see error in red in picture)

Expected Results: Data error should

[2015-07-21 23:37] ghost opened #252 "Deleted alerts table bug"
Description: If alerts are cleared, then an animated loading symbol will appear over the space where the table used to be and won't go away.  Then, if user tries to open the site/device-level rules interface, then the alerts box will appear over the top of it (see picture).
![deleted alerts bug](https://cloud.githubusercontent.com/assets/13356999/8814850/74bf1cdc-2fc6-11e5-9e6e-7e44992566b2.PNG)

[2015-07-21 23:41] #245 closed, assigned to peters95

[2015-07-21 23:46] patrickomni commented on #244
The issue was with https

[2015-07-21 23:46] #244 closed, assigned to davroth

[2015-07-22 15:45] #187 closed, assigned to davroth

[2015-07-22 17:23] davroth opened #253 "Timeline graph - nothing on graph when there is a single report within selected time period"
1. Browse to http://nettelpong.azurewebsites.net/sv, Firefox 38, Windows 8.1, select Omni Demo
2. Change time filter to "last 3 days"
3. Observe Roxy 3 reported 7/21 03:29 AM on Summary Grid

Expected - Timeline graph displays that report

Actual - don't see anything on the graph, though its "focus" is set to 07/21 03 am

![capture - roxy single point not displaying on graph](https://cloud.githubu

[2015-07-22 17:43] davroth opened #254 "Active Alerts grid - "Message" cell for alert row is empty in Test Tanks"
This may be "by design" w/ no msg configured, but want to capture it
1. Browse to https://nettelpong.azurewebsites.net/sv#, Firefox 38, Windows 8.1, login as dave, select Test Tank
2. Set time filter to last 3 days and observe Active Alerts grid has a row

Expected - Message cell tells me what is wrong

Actual - Message cell is blank
![capture - empty message cell](https://cloud.githubusercontent.

[2015-07-22 17:56] davroth opened #255 "Summary grid allows column label change; Active Alerts does not"
1. browse to https://nettelpong.azurewebsites.net/sv using <browser>, <O.S.>, login as Gary, select Reisner
2. Doubleclick column header on Summary grid - observe they can be changed
3. Doubleclick column header on Active Alerts grid - nothing happens

Expected - consistency between the 2 grids

Actual - can change Summary but not Active Alerts

[2015-07-22 18:01] davroth opened #256 "At a glance summary - Active Alerts cell doesn't show alerts when grid does"
1. Browse to https://nettelpong.azurewebsites.net/sv, Firefox 38, windows 8.1, login as dave, select Test Traps
2. Set time filter to last 3 days and observe page

Expected - at-a-glance (AAG) cell for Active Alerts matches Active Alerts grid

Actual - AAG cell says 0, but grid shows many alerts

![capture - active alerts mismatch](https://cloud.githubusercontent.com/assets/12534533/8832982/fc8c8c

[2015-07-22 18:21] davroth commented on #256
Same results observed for Test Fridge - at-a-glance cell for Active Alerts shows 0 and Active Alerts grid shows many alerts for 7/21 when time filter is set to 3 days

[2015-07-22 18:46] davroth opened #257 "Reisner - data received by Listener not being displayed on landing page"
1. Browse to https://nettelpong.azurewebsites.net/sv, FireFox 38, Windows 8.1, login as Dave, select Reisner
2. Observe Summary grid on Landing page where last report is 7/22 at 12:38 AM
3. Go to Listener server (see VM, login info below) and open Windows Eplorer, Navigate to: 'C:\Program Files\OmniM2m\OmniListenerService' and open log file for 7/22
4. Search for Update Time (paying attention only

[2015-07-22 18:51] davroth commented on #257
Prod site (https://omnim2m.net/sv) is showing the same last report (7/22 12:38 AM) as is V1.1 site

[2015-07-22 19:07] danomni opened #258 "Active Alert Table - Clear All Dropdown Runs Off Screen iPhone 5"
Steps to replicate:
1. Sign into any account
2. Click on blue gear box on 'Active Alerts' table

Expected:

Text within screen

Actual:

Text runs off to the right of the screen

[2015-07-22 19:20] davroth commented on #257
If log file date/time stamps are GMT, then this is expected behavior

[2015-07-22 19:28] danomni opened #259 "User Guide Does Not Appear Mobile Ready"
If you click on either of the 'User Guides', the pages are both non-dynamic

[2015-07-22 19:31] danomni opened #260 "'Add Account' Not Mobile - iPhone 5"
Steps to recreate:
1. Sign in to Omni admin account
2. Click edit next to any account
3. Click 'User' tab on top

Expected:

Table fits in the screen

Actual:

Table goes off the right of the screen

Logged using iPhone 5

[2015-07-22 19:42] davroth commented on #257
Log file times are GMT

[2015-07-22 19:42] #257 closed, assigned to nobody

[2015-07-22 19:49] #251 closed, assigned to patrickomni

[2015-07-22 19:52] patrickomni commented on #247
According to the graph, there was no recent data (latest data was 7/15).  Can you clarify if I am missing a point?

[2015-07-22 20:20] davroth commented on #241
Reported by Frank to be recurring on Chrome - does not repro w/ IE or FireFox

[2015-07-22 20:22] peters95 commented on #256
fixed the stored proc to return the correct value now

[2015-07-22 20:22] #256 closed, assigned to nobody

[2015-07-22 20:23] davroth opened #261 "Rules User Guide - update"
Warn user that if a device level rule already exists that overrides an account level rule, then no warning will be displayed when the device level rule UI is invoked again

[2015-07-22 20:33] christopherdude commented on #250
This was fixed in previous build

[2015-07-22 21:02] davroth opened #262 "At a glance summary - "Reported w/in 24 hrs" cell doesn't agree w/ data in summary grid"
1. browse to https://nettelpong.azurewebsites.net/sv, FireFox 38, windows 8.1, login as dave, select Test Traps
2. Set time filter to last 30 days
3. Observe at a glance (AAG) summary cell for "Reported within 24 hrs" and observe that 4 devices have reported since 7/20

Expected; AAG "Reported within 24 hours" to have "4"

Actual: AAG "Reported within 24 hours" has "3"

![capture - aag reported wi

[2015-07-22 21:11] danomni commented on #262
Question:

Why would it show 4, since the fourth data point is on the 20th and today is the 22nd?

Wouldn't that indicate a time of over 24 hours?

[2015-07-22 21:19] davroth commented on #261
Please note that this warning is only displayed the first time a rule is created for a device or a site that will override another rule. Returning to edit an existing device rule does not cause this warning to appear

[2015-07-22 21:31] davroth opened #263 "Sempra Summary grid - not refreshing when Listener shows messages coming in"
1. Browse to https://nettelpong.azurewebsites.net/sv, FireFox 38, Windows 8.1, login as Dave, select Sempra
2. Observe Summary grid - most recent report if from Gateway 4, 07/21 at 5:04 PM
3. Open Listener log on VM (see below for instructions) and scroll to bottom
4. Observe most recent entry for TrapListener is 7/22 @ 19:52 GMT (offset by ~10 hrs from Hawaii, so that would be approx. 09:52 Hawai

[2015-07-22 22:00] patrickomni commented on #263
This is because the trap inside the gateway in the office was registered as the same as Sempra's 5, which should have been Sempra's 4.

Another live mess.

[2015-07-22 22:02] patrickomni commented on #262
Yes, this is by design.  Only 3 have reported in the last 24 hours.

[2015-07-22 22:15] davroth commented on #262
fair enough - but the picture above shows time filter set to 30 days and the summary cell still shows 3 devices

[2015-07-22 22:30] patrickomni commented on #250
This was a propping issue we believe.  Please rcheck

[2015-07-22 22:31] #263 closed, assigned to davroth

[2015-07-22 22:38] peters95 commented on #255
I looked into this and there is a couple issues. The first problem is the ordering of events in the javascript between when the ajax postback occurs to load the client side alert table and when the javascript runs to enable label changing. Adding back the javascript after the postback there was a second issue with the layer of the tooltip on the page with it being hidden behind the alert table lab

[2015-07-22 22:42] patrickomni commented on #254
Verified this was left over development cruft on test data.   I retriggered the alert and this now say the full message
![image](https://cloud.githubusercontent.com/assets/12114620/8839217/3620e4e8-3088-11e5-8a8c-d9899dadd79a.png)

[2015-07-22 22:42] davroth commented on #254
data problem - fixed

[2015-07-22 23:04] patrickomni commented on #252
Regardless of the spinner, first and foremost, the data is not being cleared.   The log reads:
sp_SetAlertsStatus @ids =

[2015-07-22 23:05] christopherdude commented on #252
Ok thx

From: patrickomni [mailto:notifications@github.com]
Sent: Wednesday, July 22, 2015 4:05 PM
To: patrickomni/omnimobileserver omnimobileserver@noreply.github.com
Cc: christopherdengler losdudechris@hotmail.com
Subject: Re: [omnimobileserver] Deleted alerts table bug (#252)

Regardless of the spinner, first and foremost, the data is not being cleared. The log reads:
sp_SetAlertsStatus @ids ht

[2015-07-22 23:40] christopherdude commented on #241
I believe I've fixed this now.  It was actually refreshing the grid multiple times due to an incorrect js call from C#.  Now I just loadpage() method in C# to the JS

[2015-07-23 02:43] peters95 commented on #252
The alerts were not being deleted because the alert ids were not being set after what appeared to be a changed to the JSON returned back. I think it was from using a different JSON lib in the service. Instead of changing the service and introducing additional errors I solved this issue by using javascript regex to extract the correct ID found in the return JSON in a span and then add it back to th

[2015-07-23 03:19] christopherdengler commented on #247
This item is actually not a bug - it's weird data.  For putting in 3 days on this gives us back ONE point of data --- "([{label:'Demo Unit',data: [[new Date(2015,6, 20, 16, 0, 18), 4]]}])"	-- a SINGLE point.

This single point is just not clearly visible because we chose to remove the dots on the graph, remember?  Therefore, this graph can only do LINES between TWO data points!

[2015-07-23 03:22] christopherdengler commented on #247
I'm going to try to adjust it to allow points for when there's only one result.

[2015-07-23 03:26] christopherdude commented on #247
This item is actually not a bug - it's weird data. For putting in 3 days on this gives us back ONE point of data --- "([{label:'Demo Unit',data: [[new Date(2015,6, 20, 16, 0, 18), 4]]}])" -- a SINGLE point.

This single point is just not clearly visible because we chose to remove the dots on the graph, remember? Therefore, this graph can only do LINES between TWO (or more) data points!

I have a f

[2015-07-23 03:41] christopherdude commented on #238
Pat, here's a question for you - part of this issue is, if they ask for data going back 30 days, and we only have 5 days of data, it will only show 5 days in the bottom area of this plotted graph.  Should we force it to show the exact number of days from the filter?  Does this make sense?

[2015-07-23 03:55] davroth commented on #247
this sounds like #253 which we decided to punt because our customers will rarely (if ever) have a single poknt on the graph

[2015-07-23 03:57] davroth commented on #247
pls ignore my comment above - it was intended for a different bug

[2015-07-23 04:07] #262 closed, assigned to davroth

[2015-07-23 04:40] christopherdude commented on #198
Note to self - jquery table header sticky

[2015-07-23 05:43] christopherdude commented on #79
Fixed

[2015-07-23 05:48] christopherdude commented on #107
Fixed

[2015-07-23 05:49] christopherdude commented on #82
Fixed